.card-border{
  @apply p-3 rounded-2xl mb-6 m-4
  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 cursor-pointer;
  height: 407px;
  width: 305px;
  border: 1px solid transparent;
  box-shadow: rgba(4, 17, 29, 0.151) 0px 0px 10px 0px;
  transition: transform .5s;
 ;

}
