<app-admin-header (search)="search($event)"></app-admin-header>

<div class="flex flex-col justify-start h-auto min-h-screen px-3 py-2 mt-10 mb-12 sm:px-6 xl:px-8 center">
  <div class="flex items-center justify-between w-full h-12 py-px">
    <h1 class="h-auto m-0 text-2xl font-medium">Groups</h1>
    <button class="w-40 h-full primary-btn" (click)="newGroup()">
      <span class="mr-1 text-xl">+</span> New Group
    </button>
  </div>
  <div class="w-full">
    <div class="mt-6 has-tooltip">
      <div class=" filters" >
        <div class="filter bg-primary-gray-100 cursor-text">
          <button mat-icon-button aria-label="statusMenu">
            <span class="cursor-text"><mat-icon>filter_alt</mat-icon></span>
            <span class="px-px sm:px-2 cursor-text">Filter</span>
          </button>
        </div>
        <div class="filter">
          <button mat-icon-button aria-label="menu" class="w-20" mat-icon-button [matMenuTriggerFor]="itemCountMenu" >
            <ng-container *ngIf="!filterItemCount; else showItemCount">Item Count</ng-container>
            <ng-template #showItemCount>{{filterItemCount}}</ng-template>
            <span class="material-icons">
              arrow_drop_down
              </span>
          </button>
        </div>
        <div class="filter">
          <button mat-icon-button aria-label="menu" class="w-16" [matMenuTriggerFor]="nameMenu" >
            <ng-container *ngIf="!filterName; else showName">Name</ng-container>
            <ng-template #showName>{{filterName}}</ng-template>
            <span class="material-icons">
              arrow_drop_down
              </span>
          </button>
        </div>
        <div class="filter">
          <button (click)="resetFilters()" mat-icon-button aria-label="menu">
            <span><mat-icon>restart_alt</mat-icon></span>
            <span class="px-px sm:px-2">Reset Filter</span>
          </button>
        </div>

          <!--Item count menu-->
        <mat-menu #itemCountMenu="matMenu" class="bg-primary-600 mt-0.5 p-3 w-32 rounded-md" xPosition='after'>
          <ng-container *ngFor="let sort of itemCount">
            <button (click)="filterByItemCount(sort.sortBy)" class="dropdown" mat-menu-item>
              {{sort.sortBy}}
            </button>
          </ng-container>

        </mat-menu>

         <!--Name menu-->
        <mat-menu #nameMenu="matMenu" class="bg-primary-600 mt-0.5 p-3 w-32 rounded-md text-sm mat-menu" xPosition='after'>
          Sort by
          <ng-container *ngFor="let sort of name">
            <button (click)="filterByName(sort.sortBy)" class="dropdown" mat-menu-item>
              {{sort.sortBy}}
            </button>
          </ng-container>
         </mat-menu>

      </div>
    </div>
    <div class="w-full bg-gray-400 groups-container">
      <div class="w-full overflow-x-auto ">
        <table class="w-full space-y-6 text-sm" [style.min-height]="((isLoading$ | async) === false && (groups$ | async).length === 0) ? '420px' : null">
          <thead class="font-light tracking-wider text-white ">
            <tr>
              <th>Name</th>
              <th>Item Count</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="relative">
            <ngx-spinner name="admin-market" [fullScreen]="false" [showSpinner]="isLoading$ | async" bdColor="#171830" size="medium" color="#fff" type="ball-scale-multiple">
              <p style="font-size: 20px; color: white">{{(creator$ | async)?.displayName}}...</p>
            </ngx-spinner>
              <ng-container *ngFor="let group of (groups$ | async);last as isLast" class="">
                <tr [ngStyle]="{'border-bottom': isLast ? '1px solid #aaaaaa2a' : 'none' }">
                  <td>{{group.name}}</td>
                  <td >{{group.itemsCount || 0}}</td>
                  <td >{{group.description}}</td>
                  <td><mat-icon (click)="deleteGroup(group)"><img class="cursor-pointer" src="./assets/icons/bin.svg" alt="delete"></mat-icon></td>
                </tr >
              </ng-container>

              <div *ngIf="(isLoading$ | async) === false && (groups$ | async).length === 0"  class="absolute w-full text-center" style="top: 40%;">
                <h3>No Record Found</h3>
                <p>It seems we can't find any results.</p>
              </div>
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex justify-between w-full">
      <div *ngIf="(totalCount$ | async) as totalCount ; else noItems" class="inline-flex items-center text-gray-500">
        Show {{ page === 1 ? 1 : (page-1) * limit }}-{{ page * limit < totalCount ? (page * limit) : totalCount }}/{{totalCount}}
       </div>
       <ng-template #noItems>
         <div class="inline-flex items-center text-gray-500">
           Show 0/0
         </div>
       </ng-template>
      <div class="pagination">
        <ng-container *ngIf="(totalCount$ | async) as totalCount  ; else noPage">
          <ng-container *ngIf="totalCount > limit  ; else noPage">
            <button [disabled]="page < 2" class="h-8 rounded-md icon-btn w-9 bg-primary-600" (click)="previous()">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.618" height="11.75" viewBox="0 0 17.618 11.75">
                <defs>
                  <style>
                    .a {
                      fill: #fff;
                      opacity: 0.4;
                    }
                  </style>
                </defs>
                <path class="a"
                  d="M14.265,11.477a.8.8,0,0,1,.006,1.126l-3.715,3.727H24.711a.8.8,0,0,1,0,1.591H10.556l3.721,3.727a.805.805,0,0,1-.006,1.126.792.792,0,0,1-1.12-.006L8.108,17.688h0a.893.893,0,0,1-.165-.251.759.759,0,0,1-.061-.306.8.8,0,0,1,.226-.557l5.043-5.079A.78.78,0,0,1,14.265,11.477Z"
                  transform="translate(-7.882 -11.252)" />
              </svg>

            </button>
            <span>{{page}}/{{ (totalCount  / limit + (0.4)) | number:'1.0-0' }}</span>
            <button [disabled]="totalCount <= page * limit" class="icon-btn " (click)="next()">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.618" height="11.75" viewBox="0 0 17.618 11.75">
                <defs>
                  <style>
                    .a {
                      fill: #fff;
                    }
                  </style>
                </defs>
                <path class="a"
                  d="M19.118,11.477a.8.8,0,0,0-.006,1.126l3.715,3.727H8.671a.8.8,0,0,0,0,1.591H22.826l-3.721,3.727a.805.805,0,0,0,.006,1.126.792.792,0,0,0,1.12-.006l5.043-5.079h0a.893.893,0,0,0,.165-.251.759.759,0,0,0,.061-.306.8.8,0,0,0-.226-.557l-5.043-5.079A.78.78,0,0,0,19.118,11.477Z"
                  transform="translate(-7.882 -11.252)" />
              </svg>
            </button>
          </ng-container>
        </ng-container>
        <ng-template #noPage >
          <button disabled class="h-8 rounded-md icon-btn w-9 bg-primary-600" >
            <svg xmlns="http://www.w3.org/2000/svg" width="17.618" height="11.75" viewBox="0 0 17.618 11.75">
              <defs>
                <style>
                  .a {
                    fill: #fff;
                    opacity: 0.4;
                  }
                </style>
              </defs>
              <path class="a"
                d="M14.265,11.477a.8.8,0,0,1,.006,1.126l-3.715,3.727H24.711a.8.8,0,0,1,0,1.591H10.556l3.721,3.727a.805.805,0,0,1-.006,1.126.792.792,0,0,1-1.12-.006L8.108,17.688h0a.893.893,0,0,1-.165-.251.759.759,0,0,1-.061-.306.8.8,0,0,1,.226-.557l5.043-5.079A.78.78,0,0,1,14.265,11.477Z"
                transform="translate(-7.882 -11.252)" />
            </svg>

          </button>
          <span>1/1</span>
          <button disabled class="icon-btn active">
            <svg xmlns="http://www.w3.org/2000/svg" width="17.618" height="11.75" viewBox="0 0 17.618 11.75">
              <defs>
                <style>
                  .a {
                    fill: #fff;
                  }
                </style>
              </defs>
              <path class="a"
                d="M19.118,11.477a.8.8,0,0,0-.006,1.126l3.715,3.727H8.671a.8.8,0,0,0,0,1.591H22.826l-3.721,3.727a.805.805,0,0,0,.006,1.126.792.792,0,0,0,1.12-.006l5.043-5.079h0a.893.893,0,0,0,.165-.251.759.759,0,0,0,.061-.306.8.8,0,0,0-.226-.557l-5.043-5.079A.78.78,0,0,0,19.118,11.477Z"
                transform="translate(-7.882 -11.252)" />
            </svg>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
