<div class="flex flex-col justify-start h-auto min-h-screen px-3 py-2 mt-10 mb-12 sm:px-6 xl:px-8 center">
  <div class="flex items-center justify-between w-full h-12 py-px">
    <h1 class="h-auto m-0 text-2xl font-medium">Groups</h1>
    <button class="w-40 h-full primary-btn" (click)="newGroup()">
      <span class="mr-1 text-xl">+</span> New Group
    </button>
  </div>
  <div class="w-full">
    <div class="filters">
      <div class="filter">
        <button mat-icon-button aria-label="menu">
          <span><mat-icon>filter_alt</mat-icon></span>
          <span class="px-px sm:px-2">Filter</span>
        </button>
      </div>
      <div class="filter">
        <button mat-icon-button aria-label="menu" class="w-16">
          <span>Status</span>
          <span><mat-icon style="height: 13px;">arrow_drop_down</mat-icon></span>
        </button>
      </div>
      <div class="filter">
        <button mat-icon-button aria-label="menu" class="w-16">
          <span>Price</span>
          <span><mat-icon>arrow_drop_down</mat-icon></span>
        </button>
      </div>
      <div class="filter">
        <button mat-icon-button aria-label="menu" class="w-16">
          <span>Token ID</span>
          <span><mat-icon>arrow_drop_down</mat-icon></span>
        </button>
      </div>
      <div class="filter">
        <button mat-icon-button aria-label="menu">
          <span><mat-icon>restart_alt</mat-icon></span>
          <span class="px-px sm:px-2">Restart Filter</span>
        </button>
      </div>
    </div>
    <div class="w-full bg-gray-400 groups-container">
      <div class="w-full overflow-x-auto">
        <table class="w-full space-y-6 text-sm">
          <thead class="font-light tracking-wider text-white ">
            <tr>
              <th>Name</th>
              <th>Item Count</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody ><tr><td>Rock1</td><td >20</td><td >Best NFT Sports Group Out There</td><td ><mat-icon>delete</mat-icon></td>
            </tr ><tr><td>Rock1</td><td >20</td><td >Best NFT Sports Group Out There</td><td ><mat-icon>delete</mat-icon></td>
            </tr ><tr><td>Rock1</td><td >20</td><td >Best NFT Sports Group Out There</td><td ><mat-icon>delete</mat-icon></td>
            </tr ><tr><td>Rock1</td><td >20</td><td >Best NFT Sports Group Out There</td><td ><mat-icon>delete</mat-icon></td>
            </tr ><tr><td>Rock1</td><td >20</td><td >Best NFT Sports Group Out There</td><td ><mat-icon>delete</mat-icon></td>
            </tr ><tr><td>Rock1</td><td >20</td><td >Best NFT Sports Group Out There</td><td ><mat-icon>delete</mat-icon></td>
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex justify-between w-full">
      <div class="inline-flex items-center text-gray-500">
        Show 1-15/100
       </div>
      <div class="pagination">
        <button class="h-8 rounded-md icon-btn w-9 bg-primary-a">
          <svg xmlns="http://www.w3.org/2000/svg" width="17.618" height="11.75" viewBox="0 0 17.618 11.75">
            <defs>
              <style>
                .a {
                  fill: #fff;
                  opacity: 0.4;
                }
              </style>
            </defs>
            <path class="a"
              d="M14.265,11.477a.8.8,0,0,1,.006,1.126l-3.715,3.727H24.711a.8.8,0,0,1,0,1.591H10.556l3.721,3.727a.805.805,0,0,1-.006,1.126.792.792,0,0,1-1.12-.006L8.108,17.688h0a.893.893,0,0,1-.165-.251.759.759,0,0,1-.061-.306.8.8,0,0,1,.226-.557l5.043-5.079A.78.78,0,0,1,14.265,11.477Z"
              transform="translate(-7.882 -11.252)" />
          </svg>

        </button>
        <span>1/8</span>
        <button class="icon-btn active">
          <svg xmlns="http://www.w3.org/2000/svg" width="17.618" height="11.75" viewBox="0 0 17.618 11.75">
            <defs>
              <style>
                .a {
                  fill: #fff;
                }
              </style>
            </defs>
            <path class="a"
              d="M19.118,11.477a.8.8,0,0,0-.006,1.126l3.715,3.727H8.671a.8.8,0,0,0,0,1.591H22.826l-3.721,3.727a.805.805,0,0,0,.006,1.126.792.792,0,0,0,1.12-.006l5.043-5.079h0a.893.893,0,0,0,.165-.251.759.759,0,0,0,.061-.306.8.8,0,0,0-.226-.557l-5.043-5.079A.78.78,0,0,0,19.118,11.477Z"
              transform="translate(-7.882 -11.252)" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
