<div class="container relative flex flex-col items-center justify-center h-screen m-auto bg-center bg-cover "
  style="background-image: url(../../../../assets/banner/bg-404.jpg); ">

  <!-- <div class="flex flex-col justify-center w-full h-screen overflow-hidden "  *ngIf="slider">
    <h1 class="text-4xl font-light text-center mb-9">Search Your Club</h1>
    <div class="container flex items-center justify-center ">
      <div class="relative" style="width: 900px;">
        <div class="absolute flex top-4 left-3"> <img class="flex items-center justify-center w-6"
            src="../../../../assets/icons/search.svg"> </div> <input [formControl]="searchControl" style="background:#140835; box-shadow: 0px 3px 40px #5640F594;
            border: 1px solid #5640F5;" type="text"
          class="z-0 w-full pl-10 pr-20 rounded-full h-14 focus:shadow focus:outline-none">

        <div class="absolute border-r border-purple-600 top-2 right-24"> <span
            class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg">Search </span> </div>
        <div class="absolute top-2 right-2">  <div class="filter">
          <button mat-icon-button aria-label="menu" class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg cursor-pointer" [matMenuTriggerFor]="nameMenu" >
            <ng-container *ngIf="!filterName; else showName">Sort by</ng-container>
            <ng-template #showName>{{filterName}}</ng-template>
          </button>
        </div>
        </div>
      </div>
    </div>



      <swiper
      [slidesPerView]="4"
      [spaceBetween]="30"
      [centeredSlides]="true"
      [pagination]="{
        clickable: true
      }"
      [autoplay]="{
               delay: 2500,
                disableOnInteraction: false
              }"

      [navigation]="true"
      class="mySwiper slider"
    [class.show-all]="allClub"
    >
    <ng-container *ngFor="let club of clubs">
      <ng-template swiperSlide>
        <div class="x-gap circle">
          <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/',club.redirectUrl]">
          <img class="club-logo" [src]="club.profileImageURL" style="max-width: 50%; border-radius: 100%;" alt="">


          <span><img class="icon" src="./assets/icons/FOOTBALL.svg" alt="" style=" opacity: 0.3;"></span>
          </a>
        </div>
      </ng-template>
    </ng-container>
    </swiper>

       <button (click)="showAllClub()" class="view-btn " [class.show-all]="allClub">
        View all
      </button>



  </div> -->



 <div class="w-full overflow-hidden "  >
   <div class="custom-container">
    <h1 class="text-4xl font-light text-center text-white mb-9 mt-9">Search Your Club</h1>
    <button (click)="openNav()" class="creator-btn"> Become a Creator</button>
   </div>

  <div class="container flex items-center justify-center ">
    <div class="relative" style="width: 900px;">
      <div class="absolute flex top-4 left-3"> <img class="flex items-center justify-center w-6"
          src="../../../../assets/icons/search.svg"> </div> <input [formControl]="searchControl" style="background:#140835; box-shadow: 0px 3px 40px #5640F594;
          border: 1px solid #5640F5;" type="text"
        class="z-0 w-full pl-10 pr-20 rounded-full h-14 focus:shadow focus:outline-none">

      <div class="absolute border-r border-purple-600 top-2 right-24"> <span
          class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg">Search </span> </div>
      <div class="absolute top-2 right-2">
        <!-- <span
          class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg cursor-pointer" >Sort by</span> -->
          <div class="filter">
            <button mat-icon-button aria-label="menu" class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg cursor-pointer" [matMenuTriggerFor]="nameMenu" >
              <ng-container *ngIf="!filterName; else showName">Sort by</ng-container>
              <ng-template #showName>{{filterName}}</ng-template>
            </button>
          </div>

          <mat-menu #nameMenu="matMenu" class="bg-primary-600 mt-0.5 p-3 w-32 rounded-md text-sm " xPosition='after'>
            Sort by
            <ng-container *ngFor="let sort of name">
              <button (click)="sortClick(sort.sortBy)" class="dropdown" mat-menu-item>
                {{sort.sortBy}}
              </button>
            </ng-container>
           </mat-menu>


      </div>
    </div>
  </div>
    <div class="clubs-container"  [class.show-all]="!allClub"  >
      <ng-container *ngFor="let club of clubs">
        <ng-container *ngIf="(club.redirectUrl | lowercase) !== demoCLub && (club.redirectUrl | lowercase) !== demoCLub1">
          <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/',club.redirectUrl]">
          <div class="x-gap circle" >

            <img class="club-logo" [src]="club.profileImageURL" style="max-width: 50%; height: 50%; object-fit: contain;" alt="">
            <!-- <span class="title">{{club.displayName}}</span> -->
            <span><img class="icon" src="./assets/icons/FOOTBALL.svg" alt="" style=" opacity: 0.3;"></span>

          </div>
        </a>
        </ng-container>
      </ng-container>


    </div>
  </div>

  <div id="myNav" class="overlay" #menu>
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <div class="overlay-content">

      <div class="w-screen h-screen bg-blue-400">
        <div class="flex flex-col items-center justify-center flex-1 h-full px-4 sm:px-0">
            <div class="flex w-full h-full bg-white rounded-lg shadow-lg">
                <div class="flex flex-col w-full p-4 md:w-1/2">
                    <div class="flex flex-col justify-center flex-1 mb-8">
                        <h1 class="text-4xl font-thin text-center">Welcome Back</h1>
                        <div class="w-full mt-4">
                          <mat-stepper [linear]="true" labelPosition="bottom" #stepper class="w-full h-full py-6 text-center">
                            <mat-step [stepControl]="firstFormGroup">
                              <h1 class="mb-4 text-3xl font-medium text-center sm:text-3xl text-dark">Welcome! first things first</h1>
                              <h3 class="max-w-xs mx-auto text-xs font-medium text-center mb-7">Let's make sure we understand your company. What describes your business best?"</h3>
                              <form [formGroup]="firstFormGroup" class="flex flex-wrap justify-start">
                                <ng-template matStepLabel>Add Club</ng-template>
                                <!-- <mat-form-field appearance="fill">
                                  <mat-label>Name</mat-label>
                                  <input class="w-full bg-gray-200 rounded-xl" matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                                </mat-form-field> -->

                                <mat-label>Name</mat-label>
                                <input formControlName="name" required type="text">
                                <p class="error-msg error" *ngIf="firstFormGroup.controls.name.touched && firstFormGroup.controls.name.errors?.required">please enter Name</p>
                                <div>
                                  <button mat-button matStepperNext class="primary-btn" [disabled]="firstFormGroup.invalid">Next</button>
                                </div>
                              </form>
                            </mat-step>


                            <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
                                          <h1 class="mb-2 text-3xl font-medium text-center sm:text-3xl text-dark">Let's get to know each other!</h1>
            <h3 class="max-w-xs mx-auto mb-4 text-xs font-medium text-center">How can we reach out?</h3>
                              <form [formGroup]="secondFormGroup">
                                <ng-template matStepLabel>Add Profile Image</ng-template>
                                <div class="relative mb-4">
                                  <label for="full-name" class="text-sm leading-7 text-gray-600">Profile Picture</label>
                                  <div class="relative flex justify-between overflow-hidden border-2 border-gray-400 border-dashed rounded-lg">
                                    <button
                                      class="flex items-center justify-between w-full px-2 py-2 font-bold bg-primary-gray-100 hover:bg-indigo-dark">
                                      <ng-container *ngIf="!file; else show">
                                          <div class="px-2 font-light text-gray-400">Select Image to Upload</div>
                                      </ng-container>
                                      <ng-template #show>
                                        <div class="px-2 font-light text-dark ">File selected!</div>
                                      </ng-template>
                                    <div>
                                        <svg
                                          fill="#FFF"
                                          height="28"
                                          viewBox="0 0 24 24"
                                          width="28"
                                          xmlns="http://www.w3.org/2000/svg"
                                          class="m-2">
                                          <path d="M0 0h24v24H0z" fill="none" />
                                          <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z" />
                                        </svg>
                                      </div>
                                    </button>
                                    <input
                                      class="absolute block opacity-0 cursor-pointer pin-r pin-t "
                                      type="file"
                                      name=""  accept="image/png, image/gif, image/jpeg"
                                      (change)="onSelectFile($event)"
                                    />
                                  </div>
                                </div>
                                <!-- <mat-form-field appearance="fill">
                                  <mat-label>Address</mat-label>
                                  <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                                         required>
                                </mat-form-field> -->
                                <div>
                                  <button mat-button matStepperPrevious>Back</button>
                                  <button mat-button matStepperNext>Next</button>
                                </div>
                              </form>
                            </mat-step>
                            <mat-step>
                              <ng-template matStepLabel>Done</ng-template>
                              <p>You are now done.</p>
                              <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button (click)="stepper.reset()">Reset</button>
                              </div>
                            </mat-step>
                          </mat-stepper>
                        </div>
                    </div>
                </div>
                <div class="hidden rounded-r-lg md:block md:w-1/2" style="background: url('https://images.unsplash.com/photo-1515965885361-f1e0095517ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80'); background-size: cover; background-position: center center;"></div>
            </div>
        </div>
    </div>



    </div>
  </div>


  <!-- <a
      [routerLink]="['/']"
      class="inline-block h-12 px-6 py-3 mb-12 font-semibold text-white bg-blue-600 rounded-lg hover:bg-blue-500 focus:ring-4 focus:ring-offset-blue-600 focus:outline-none"
    >
      Take me somewhere nice
    </a> -->
  <!-- </div>  -->

</div>
