<!-- <div class="container relative flex flex-col items-center justify-center m-auto bg-center bg-cover lg:h-screen xl:h-screen "
  style="background-image: url(../../../../assets/banner/bg-404.jpg); ">
<div class="w-full "  >
   <div class="items-center custom-container">
    <h1 class="text-4xl font-light text-center text-white mb-9 mt-9">Search Your Club</h1>
    <button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="[adminRouteUrl]"class="invisible creator-btn lg:visible"> Become a Creator</button>
    <button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="[adminRouteUrl]"class="visible mb-4 creator-btn-sm lg:invisible lg:mb-0">Become a Creator</button>
   </div>

  <div class="container flex items-center justify-center ">
    <div class="relative" style="width: 900px;">
      <div class="absolute flex top-4 left-3"> <img class="flex items-center justify-center w-6"
          src="../../../../assets/icons/search.svg"> </div> <input [formControl]="searchControl" style="background:#140835; box-shadow: 0px 3px 40px #5640F594;
          border: 1px solid #5640F5;" type="text"
        class="z-0 w-full pl-10 pr-20 rounded-full h-14 focus:shadow focus:outline-none">

      <div class="absolute border-r border-purple-600 top-2 right-24"> <span
          class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg">Search </span> </div>
      <div class="absolute top-2 right-2">
          <div class="filter">
            <button mat-icon-button aria-label="menu" class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg cursor-pointer" [matMenuTriggerFor]="nameMenu" >
              <ng-container *ngIf="!filterName; else showName">Sort by</ng-container>
              <ng-template #showName>{{filterName}}</ng-template>
            </button>
          </div>

          <mat-menu #nameMenu="matMenu" class="bg-primary-600 mt-0.5 p-3 w-32 rounded-md text-sm " xPosition='after'>
            Sort by
            <ng-container *ngFor="let sort of name">
              <button (click)="sortClick(sort.sortBy)" class="dropdown" mat-menu-item>
                {{sort.sortBy}}
              </button>
            </ng-container>
           </mat-menu>
           </div>
    </div>
  </div>
    <div class="clubs-container"  [class.show-all]="!allClub"  >
      <ng-container *ngFor="let club of clubs">
        <ng-container *ngIf="(club.redirectUrl | lowercase) !== demoCLub && (club.redirectUrl | lowercase) !== demoCLub1">
          <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/',club.redirectUrl]">
          <div class="x-gap circle" >

            <img class="club-logo" [src]="club.profileImageURL" style="max-width: 50%; height: 50%; object-fit: contain;" alt="">
            <span><img class="icon" src="./assets/icons/FOOTBALL.svg" alt="" style=" opacity: 0.3;"></span>

          </div>
        </a>
        </ng-container>
      </ng-container>


    </div>
  </div>

</div> -->

<div  class="container relative flex flex-col items-center justify-center m-auto bg-center bg-cover lg:h-screen xl:h-screen "
style="background-image: url(../../../../assets/rodion-kutsaev-pVoEPpLw818-unsplash.jpg); ">
<div class="flex flex-col justify-center w-full h-screen overflow-hidden "  *ngIf="slider">
  <div class="items-center custom-container">
    <h1 class="p-4 text-4xl font-light text-center text-white rounded-lg mb-9 mt-9" style="
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);">Search Your Club</h1>
    <button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="[adminRouteUrl]"class="invisible creator-btn lg:visible"> Become a Creator</button>
    <button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="[adminRouteUrl]"class="visible mb-4 creator-btn-sm lg:invisible lg:mb-0">Become a Creator</button>
   </div>
  <div class="container flex items-center justify-center ">
    <div class="relative" style="width: 900px;">
      <div class="absolute flex top-4 left-3"> <img class="flex items-center justify-center w-6"
          src="../../../../assets/icons/search.svg"> </div> <input [formControl]="searchControl" style="background:#ffffff;   box-shadow: 0px 3px 25px #f5d4406b;
          border: 1px solid #f5c80183;" type="text"
        class="z-0 w-full pl-10 pr-20 rounded-full text-dark h-14 focus:shadow focus:outline-none">

      <div class="absolute border-r border-yellow-400 top-2 right-24"> <span
          class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg">Search </span> </div>
      <div class="absolute top-2 right-2">  <div class="filter">
        <button mat-icon-button aria-label="menu" class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg cursor-pointer" [matMenuTriggerFor]="nameMenu" >
          <ng-container *ngIf="!filterName; else showName">Sort by</ng-container>
          <ng-template #showName>{{filterName}}</ng-template>
        </button>
      </div>
      </div>
    </div>
  </div>
  <section class="custom-container">
    <swiper
    [breakpoints]="{
      '@0.00': {
        slidesPerView: 1,
        spaceBetween: 10
      },
      '@0.75': {
        slidesPerView: 2,
        spaceBetween: 20
      },
      '@1.00': {
        slidesPerView: 3,
        spaceBetween: 10
      },
      '@1.50': {
        slidesPerView: 4,
        spaceBetween: 10
      }
    }"
    [centeredSlides]="false"
    [navigation]="true"
  class="mySwiper slider custom-container">
<ng-container *ngFor="let club of clubs">
  <ng-template swiperSlide *ngIf="(club.redirectUrl | lowercase) !== demoCLub && (club.redirectUrl | lowercase) !== demoCLub1">
    <!-- <div class="x-gap circle" style="  text-align: center;
    font-size: 18px;
    height: 212px !important;
    width: 212px !important;
    border-radius: 100%;
    background: transparent radial-gradient(closest-side at 50% 50%, #11143F 0%, #130633 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 40px #329AF540;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;">
      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['/',club.redirectUrl]">
      <img class="club-logo" [src]="club.profileImageURL"
      style="object-fit: cover;
      margin-right: auto;
      margin-left: auto;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      display: block;
      margin-bottom: 12px;"
      alt="">
      <span><img class="icon" src="./assets/icons/FOOTBALL.svg" alt="" style=" opacity: 0.3;"></span>
    </a>
    </div> -->

    <!-- <div class="cards ">
      <div class="card" [ngStyle]="{ 'background-image': 'url(' + club.profileImageURL + ')'}">
        <div class="details">
          <div class="content">
            <h2>{{club.displayName}}</h2>
            <p>This is the description.</p>
            <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/',club.redirectUrl]" class="button">Visit</a>
          </div>
        </div>
      </div>
    </div> -->

    <div class="card">
      <img style="object-fit: cover;
      margin-right: auto;
      margin-left: auto;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      display: block;
      margin-bottom: 12px;" [src]="club.profileImageURL">
      <p style="width: 270px; text-align: center; color:black; font-weight: 500;">{{club.displayName}}</p>
      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['/',club.redirectUrl]">Enter Marketplace</a>
    </div>


  </ng-template>



</ng-container>


</swiper>

  </section>





     <!-- <button (click)="showAllClub()" class="view-btn " [class.show-all]="allClub">
      View all
    </button> -->



</div>



</div>

<mat-menu #nameMenu="matMenu" class="bg-primary-600 mt-0.5 p-3 w-32 rounded-md text-sm " xPosition='after'>
  Sort by
  <ng-container *ngFor="let sort of name">
    <button (click)="sortClick(sort.sortBy)" class="dropdown" mat-menu-item>
      {{sort.sortBy}}
    </button>
  </ng-container>
 </mat-menu>
