<div class="container relative flex flex-col items-center justify-center h-screen m-auto bg-center bg-cover "
  style="background-image: url(../../../../assets/banner/bg-404.jpg); ">

  <div class="flex flex-col justify-center w-full h-screen overflow-hidden "  *ngIf="slider">
    <h1 class="text-4xl font-light text-center mb-9">Search Your Club</h1>
    <div class="container flex items-center justify-center ">
      <div class="relative" style="width: 900px;">
        <div class="absolute flex top-4 left-3"> <img class="flex items-center justify-center w-6"
            src="../../../../assets/icons/search.svg"> </div> <input style="background:#140835; box-shadow: 0px 3px 40px #5640F594;
            border: 1px solid #5640F5;" type="text"
          class="z-0 w-full pl-10 pr-20 rounded-full h-14 focus:shadow focus:outline-none">

        <div class="absolute border-r border-purple-600 top-2 right-24"> <span
            class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg">Search </span> </div>
        <div class="absolute top-2 right-2">  <div class="filter">
          <button mat-icon-button aria-label="menu" class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg cursor-pointer" [matMenuTriggerFor]="nameMenu" >
            <ng-container *ngIf="!filterName; else showName">Sort by</ng-container>
            <ng-template #showName>{{filterName}}</ng-template>
          </button>
        </div>
        </div>
      </div>
    </div>



      <swiper
      [slidesPerView]="4"
      [spaceBetween]="30"
      [centeredSlides]="true"
      [pagination]="{
        clickable: true
      }"

      [navigation]="true"
      class="mySwiper slider"
    [class.show-all]="allClub"
    >
    <ng-container *ngFor="let club of clubs">
      <ng-template swiperSlide>
        <div class="x-gap circle">
          <img class="club-logo" [src]="club.profileImageURL" style="max-width: 50%; border-radius: 10%;" alt="">
          <span class="title">{{club.displayName}}</span>
          <span><img class="icon" src="./assets/icons/FOOTBALL.svg" alt="" style=" opacity: 0.3;"></span>
        </div>
      </ng-template>
    </ng-container>
    </swiper>

      <button (click)="showAllClub()" class="view-btn " [class.show-all]="allClub">
        View all
      </button>



  </div>



 <div class="overflow-hidden all-club" [class.show-all]="allClub">
  <h1 class="text-4xl font-light text-center mb-9 mt-9">Search Your Club</h1>
  <div class="container flex items-center justify-center ">
    <div class="relative" style="width: 900px;">
      <div class="absolute flex top-4 left-3"> <img class="flex items-center justify-center w-6"
          src="../../../../assets/icons/search.svg"> </div> <input style="background:#140835; box-shadow: 0px 3px 40px #5640F594;
          border: 1px solid #5640F5;" type="text"
        class="z-0 w-full pl-10 pr-20 rounded-full h-14 focus:shadow focus:outline-none">

      <div class="absolute border-r border-purple-600 top-2 right-24"> <span
          class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg">Search </span> </div>
      <div class="absolute top-2 right-2">
        <!-- <span
          class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg cursor-pointer" >Sort by</span> -->
          <div class="filter">
            <button mat-icon-button aria-label="menu" class="flex items-center justify-center w-20 h-10 text-gray-500 rounded-lg cursor-pointer" [matMenuTriggerFor]="nameMenu" >
              <ng-container *ngIf="!filterName; else showName">Sort by</ng-container>
              <ng-template #showName>{{filterName}}</ng-template>
            </button>
          </div>

          <mat-menu #nameMenu="matMenu" class="bg-primary-600 mt-0.5 p-3 w-32 rounded-md text-sm " xPosition='after'>
            Sort by
            <ng-container *ngFor="let sort of name">
              <button class="dropdown" mat-menu-item>
                {{sort.sortBy}}
              </button>
            </ng-container>
           </mat-menu>


      </div>
    </div>
  </div>
    <div class="clubs-container"  [class.show-all]="!allClub"  >

      <div class="x-gap circle" *ngFor="let club of clubs">
        <img class="club-logo" [src]="club.profileImageURL" style="max-width: 50%; border-radius: 10%;" alt="">
        <span class="title">{{club.displayName}}</span>
        <span><img class="icon" src="./assets/icons/FOOTBALL.svg" alt="" style=" opacity: 0.3;"></span>
      </div>
    </div>
  </div>


  <!-- <a
      [routerLink]="['/']"
      class="inline-block h-12 px-6 py-3 mb-12 font-semibold text-white bg-blue-600 rounded-lg hover:bg-blue-500 focus:ring-4 focus:ring-offset-blue-600 focus:outline-none"
    >
      Take me somewhere nice
    </a> -->
  <!-- </div>  -->

</div>
