@import "swiper/css";
@import "swiper/css/scrollbar";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.swiper-button-next,
.swiper-button-prev {
    // background-color: white;
    border-radius: 100%;
    // right:10px;
    padding: 12px;
    color: rgb(255, 255, 255) !important;
    fill: black !important;
    stroke: black !important;
    font-size: 12px !important;
    z-index: 999;
}


:host {
  @apply w-full flex justify-center items-center h-auto;
  min-height: calc(100% - 105px);
}


.container {
  max-width: 100% !important ;
  // max-height: 100% !important
}


.clubs-container {
  @apply flex w-full flex-wrap h-auto justify-center flex-row mt-8;
  // height: calc (100% - 105px)
  .x-gap {
    margin: 15px 35px;
  }

  .circle {
    height: 212px;
    width: 212px;
    background: transparent radial-gradient(closest-side at 50% 50%, #11143F 0%, #130633 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 40px #329AF540;
    @apply flex flex-col content-center justify-center rounded-full mb-5
  }

  .club-logo {
    @apply block ml-auto mr-auto rounded-full ;
  }

  .title {
    @apply text-lg font-light text-center;
  }

  .icon {
    @apply block mt-4 ml-auto mr-auto opacity-25;
  }

}


.view-btn {
  @apply self-center px-14 mt-6 text-sm text-center border-solid rounded-full h-14;
  box-shadow: 0px 3px 40px #5640F594;
  border: 1px solid #5640F5;
}



.slider {
  height: auto;
  transition: height 2s;
}

.slider.show-all {
  height: 0;
}

.all-club {
  height: 0px;
  visibility: hidden;
  transition: height visibility 2s;
}

.all-club.show-all {
  height: auto;
  visibility: visible;

}



.mySwiper{
  margin-top: 75px;
}

.swiper {
  width: 100%;
  // height: 30%;
}

// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   height: 212px !important;
//   width: 212px !important;
//   border-radius: 100%;
//   background: transparent radial-gradient(closest-side at 50% 50%, #11143F 0%, #130633 100%) 0% 0% no-repeat padding-box;
//   box-shadow: 0px 15px 40px #329AF540;


//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
// }

.swiper-slide img {
  display: block;
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.swiper-slide{
  display: flex !important;
  justify-content: center !important;
}

.dropdown{
  @apply my-1 rounded-md border-gradient-dp-p-bg-light hover:border-gradient-tl-p-bg-light gradient-border-1 text-center;
}

// .mat-menu-item {
//   border: 1px solid #5640F5 !important;
//    text-align: center !important
// }

// nav  {
//   display: none !important
// }

// footer{
//   display: none !important
// }


.creator-btn {
  @apply flex items-center justify-center text-center rounded-full h-14 bg-primary-nodechain w-44;
    position: absolute;
    top: 13px;
    right: 13px;

}
.creator-btn-sm {
  @apply flex items-center justify-center text-center rounded-full h-14 bg-primary-nodechain w-44 mb-4 lg:mb-0;
    // position: absolute;
    // top: 13px;
    // right: 13px;

}

.preview {
  @apply object-cover w-24 h-24;
}



mat-label {
 text-align: start;
}

form {
  @apply flex flex-col w-full;

  p{
    @apply text-red-400
  }

  label {
    @apply px-3 py-4 text-lg;
  }

  input {
    @apply px-9;
  }

  button {
    @apply w-72 h-16 my-10 sm:my-3 self-center;
  }

}


.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 260px;
  height: 260px;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  backface-visibility: hidden;
  padding: 30px 10px;
  text-align: center;
  opacity: 1;

  border-radius: 15px;
  box-shadow: 0px 3px 30px #ffffff6b;
  border: 2px solid #ffffff83;


  -webkit-backdrop-filter: blur(0px);
  transform: scale(1);
  transition: all 1s ease-in-out;
}


.card:hover {
  transform: scale(1.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.card .img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 1rem;
}

.card h2 {
  font-size: 1.8em;
  color: #fff;
  margin-bottom: 1rem;
}

.card p {
  line-height: 1.2;
  color: rgb(210, 210, 210);
}

.card a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 1rem;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-out;
}

.card a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  opacity: 1;
  border-radius: 20px;
  transition: all 0.3s ease-in;
}
.card a:hover::before {
  transform: scale(1.2, 1.75);
  opacity: 0;
}



