.card-border{
@apply rounded-2xl border-gradient-dp-p-bg-light hover:border-gradient-tl-p-bg-light gradient-border-1 md:mt-14 lg:mt-14 mt-2 w-full mb-14;
}

.buyNowBtn {
  @apply dark:text-white
  hover:text-primary-400
  md:w-10/12 lg:w-10/12 w-full
  font-medium
  mt-3.5
  h-14
  rounded-full
  py-3;
  background: transparent linear-gradient(96deg, #FFB937 0%, #D59629 100%) 0% 0% no-repeat padding-box;
  &.dark {
    background: transparent linear-gradient(96deg, #73BFD6 0%, #75F36B 100%) 0% 0% no-repeat padding-box;
  }
}
.buyNowBtn.Minted {
  background: transparent linear-gradient(96deg, #FFB937 0%, #D59629 100%) 0% 0% no-repeat padding-box;
  &.dark {
    background: transparent linear-gradient(96deg, #73BFD6 0%, #75F36B 100%) 0% 0% no-repeat padding-box;
  }
}
.buyNowBtn.Draft {
  background: #B2B2B2 0% 0% no-repeat padding-box;
}

.profileBtn {
  @apply inline-flex
  items-center
  px-2
  dark:text-white
  bg-opacity-25
  h-14
  w-44
  rounded-xl;
  background: #D59629 0% 0% no-repeat padding-box;
  &.dark {
    background: #1F203E 0% 0% no-repeat padding-box;
  }
}
.tokenID {
  @apply inline-flex
  items-center
  px-2
  dark:text-white
  bg-opacity-25
  h-14
  w-44
  justify-center
  rounded-xl
 bg-gray-400
 cursor-pointer
 hover:bg-opacity-70
}

.resImg {
  width: 529px;
  height: 538px;
}

.respDesc{
  width: 507px
}


// .nftContract {
//   white-space: nowrap;
//   width: 200px;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

.nftContract{
  text-overflow:ellipsis;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

.nftContract:hover{
  text-overflow:clip;
  width:auto;
  white-space: normal;
}



@media (max-width: 640px) {
  .resImg {
    height: 302px !important;
    width: 362px !important;

  }

  .respDesc{
    @apply break-words overflow-ellipsis;
    width: 100%;
  }

  .nftContract {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }


}





#fileName span {
  white-space: nowrap;
  overflow: hidden;
  display:inline-block;
}
#fileName span:first-child {
  width: 60px;
  text-overflow: ellipsis;
}
#fileName span + span {
  width: 35px;
  direction:rtl;
  text-align:right;
}

.trun{

  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

