<div class="justify-center card-border">
  <div class="flex"
    style="background-image: url(./assets/card/bg-card.png); background-repeat: no-repeat;  background-size: 100% 100%;">
    <div class="md:flex lg:flex">
      <!-- Left Section -->
      <div class="flex-col md:flex lg:flex">
        <div class="p-6 md:p-0 lg:p-0 lg:pt-6 lg:pb-6 lg:pl-6">
          <img *ngIf="nft?.serverCaptureFileUrl" [src]="nft?.serverCaptureFileUrl" alt="nftmarketSearch" class="resImg rounded-2xl" />
        </div>
        <div class="mb-6 ml-6">
          <span class="mt-6 inline-flex mr-2.5 text-lg text-white opacity-50">
            Contract Address
          </span>

          <div class="inline-flex" id="fileName"><span >{{nft?.nftContract}}</span><span>{{nft?.nftContract}}</span>
          </div><br>
          <p class="inline mt-6 text-lg text-white opacity-50 mr-7">
            Token Address
          </p>
          <span class="text-lg text-white">ERC-721</span> <br /><br />
          <button
            class="inline-flex items-center justify-between px-3 bg-gray-400 bg-opacity-25 cursor-pointer rounded-xl md:mt-0 hover:bg-opacity-70 ">
            <div class="flex items-start">
              <img class="w-6 h-10" src="./assets/icons/polygon-matic-logo.svg" alt="polygon" />

            </div>
            <a href="{{nft?.transactionHashUrl}}" target=_blank
              class="ml-3 mr-3 text-sm leading-none text-gray-200 hover:text-gray-900">View on Polygon.</a>
              <a href="{{nft?.transactionHashUrl}}" target=_blank
              class=""><img class="w-4 h-10" src="./assets/icons/exit-top-right.svg" alt="polygon" /></a>

          </button>
        </div>
      </div>
      <!-- Right Section  -->
      <div class="m-4 lg:flex md:flex md:m-0 lg:m-0">
        <div class="mt-10 lg:ml-11 md:ml-5">
          <div class="flex items-center justify-between">
            <button *ngIf="this.loggedInUser" class="profileBtn">
              <div class="flex rounded">
                <img class="w-10 h-10 rounded-full" [src]="profilePic?.profilePicURL" alt="Joker Card" />
              </div>
              <span class="ml-6 text-sm text-white">{{userName?.fullName}}</span>
            </button>
            <div class="flex justify-between">
              <span class="text-lg text-gray-400 ">Token ID <a href="{{nft?.transactionHashUrl}}" class="ml-3 text-white"  target=_blank> #{{nft?.tokenId}}</a></span>
            </div>
          </div>
          <p class="mt-6 mb-6 text-3xl font-medium tracking-wider text-white">
           {{nft?.name}}
          </p>
          <div class="flex items-center justify-start">
            <div class="mt-0">
              <p class="text-lg text-gray-400">Creator</p>
              <button class="inline-flex items-center justify-between py-2 text-white rounded-xl">
                <div class="flex items-start rounded nft-img">
                  <img class="rounded-full w-7 h-7" [src]="nft?.creator?.profileImageURL" alt="Joker Card" />
                </div>
                <span class="ml-2 mr-2 text-sm leading-none text-white">
                  {{nft?.creator?.displayName}}
                </span>
              </button>
            </div>
            <div class="ml-3">
              <p class="text-lg text-gray-400">Owner</p>
              <button class="inline-flex items-center justify-between py-2 text-white rounded-xl">
                <div class="flex items-start rounded nft-img">
                  <img class="rounded-full w-7 h-7" [src]="nft?.ownerData?.profilePicURL" alt="Joker Card" />
                </div>
                <span class="ml-2 mr-2 text-sm leading-none text-white">
                  {{nft?.ownerData?.fullName}}</span>
              </button>
            </div>
          </div>
          <p class="mt-6 mb-2 text-lg text-gray-400">Price</p>
          <div class="flex items-center justify-start mb-5">
            <span class="text-2xl font-semibold tracking-widest text-white">€ {{nft?.price}}</span>
            <!-- <span class="ml-3 text-sm text-white opacity-50">32.44 USD</span> -->
          </div>
          <p class="text-lg text-gray-400">Description</p>
          <div class="text-base text-justify text-white lg:mr-20 respDesc">
            {{nft?.description}}
          </div>
          <ng-container *ngIf="nft?.nftStatus">
            <ng-container *ngIf="nft.nftStatus === 'Active'; else nftButton">
              <button (click)="buyNow()" class="buyNowBtn">
                Buy Now
              </button>
            </ng-container>
            <ng-template #nftButton>
              <button class="buyNowBtn {{nft.nftStatus}}">
                {{nft.nftStatus}}
              </button>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
