 <ngx-spinner
  name="main"
  bdColor="#D9DBE0"
  size="medium"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{(creator$ | async)?.displayName}}...</p>
</ngx-spinner>

<div class="justify-center ">
  <div class=""
    >
    <div class="w-full md:flex lg:flex ">
      <!-- Left Section -->
      <div class="flex-col md:flex lg:flex">
        <div class="pl-3 pr-7">
          <img *ngIf="nft?.serverCaptureFileUrl" [src]="nft?.mediaType === 'Video' ?  nft?.videoThumbnailUrl :  (nft?.mediaType === 'Audio' ? '/assets/audio-bg.svg' : nft?.serverCaptureFileUrl) " alt="nftmarketSearch" class="resImg rounded-2xl" />
        </div>

        <h1  *ngIf="nft?.mediaType === 'Video' || nft?.mediaType === 'Audio'" class="playBtn">
          <img (click)="imgClick(PreviewDialog,AudioPreviewDialog)"  src="../../../../assets/icons/node-play.svg" class="w-44 h-44" alt="">
         </h1>

      </div>
      <!-- Right Section  -->
      <div class="m-4 lg:flex md:flex md:m-0 lg:m-0">
        <div class="mt-2">
          <div class="flex items-center justify-between">
            <button  class="creator-name">
              <!-- <div class="flex rounded">
                <img class="w-10 h-10 rounded-full" [src]="nft?.creator?.profileImageURL" [alt]="nft?.creator?.displayName" />
              </div> -->
              <span class="text-sm dark:text-white"> {{nft?.creator?.displayName}}</span>
            </button>
            <div class="flex justify-between">
              <span class="text-lg text-gray-400 tokenID ">Token ID <a href="{{nft?.transactionHashUrl}}" class="ml-3 dark:text-white"  target=_blank> #{{nft?.tokenId}}</a></span>
            </div>
          </div>
          <p class="mt-6 text-3xl font-medium tracking-wider dark:text-white trun">
           {{nft?.name}}
          </p>
          <!-- <div class="flex items-center justify-start">
            <div class="mt-0">
              <p class="text-lg text-gray-400">Creator</p>
              <button class="inline-flex items-center justify-between py-2 rounded-full dark:text-white">
                <div class="flex items-start rounded nft-img">
                  <img class="rounded-full w-7 h-7" [src]="nft?.creator?.profileImageURL" [alt]="nft?.creator?.displayName" />
                </div>
                <span class="ml-2 mr-2 text-sm leading-none dark:text-white">
                  {{nft?.creator?.displayName}}
                </span>
              </button>
            </div>
            <div class="ml-3">
              <p class="text-lg text-gray-400">Owner</p>
              <button class="inline-flex items-center justify-between py-2 rounded-full dark:text-white">
                <div class="flex items-start rounded nft-img">
                  <img class="rounded-full w-7 h-7" [src]="nft?.ownerData?.profilePicURL" [alt]="nft?.ownerData?.fullName" />
                </div>
                <span class="ml-2 mr-2 text-sm leading-none dark:text-white">
                  {{nft?.ownerData?.fullName}}</span>
              </button>
            </div>

          </div> -->
          <div class="mt-2">
            <div class="mt-2">
              <p class="inline text-base font-medium opacity-50 dark:text-white mr-7">
                Creator
               </p>
               <p class="inline-flex text-base font-medium text-gray-500" >{{nft?.creator?.displayName}}
               </p><br>
            </div>
            <div class="mt-2">
              <p class="inline text-base font-medium opacity-50 dark:text-white mr-7">
                Owner
              </p>
              <p class="inline-flex text-base font-medium text-gray-500"> {{nft?.ownerData?.fullName}}
              </p>
            </div>
            <div class="mt-2">
              <p class="inline text-base font-medium opacity-50 dark:text-white mr-7">
                Contract Address
               </p>
              <div class="inline-flex text-base font-medium text-gray-500" id="fileName"><span >{{nft?.nftContract}}</span><span>{{nft?.nftContract}}</span>
              </div><br>
            </div>
            <div class="mt-2">
              <p class="inline text-base font-medium opacity-50 dark:text-white mr-7">
                Token Address
                </p>
                <p class="inline-flex text-base font-medium text-gray-500"> ERC-721
               </p><br>
               <a  href="{{nft?.transactionHashUrl}}" target=_blank
                 class="inline-flex items-center justify-between my-4">
                 <!-- <div class="flex items-start">
                   <img class="w-6 h-10" src="./assets/icons/polygon-matic-logo.svg" alt="polygon" />
                 </div> -->
                 <a href="{{nft?.transactionHashUrl}}" target=_blank
                   class="text-sm font-medium leading-none text-primary-nodechain dark:text-white hover:text-gray-900">View on Polygon.</a>
                   <!-- <a href="{{nft?.transactionHashUrl}}" target=_blank
                   class=""><img class="w-4 h-10" src="./assets/icons/exit-top-right.svg" alt="polygon" /></a> -->
               </a>
            </div>
          </div>

          <!-- <p class="mt-6 mb-2 text-lg text-gray-400">Price</p> -->
          <div class="flex items-center justify-start mb-5">
            <span class="text-4xl font-semibold tracking-widest dark:text-white">€ {{nft?.price}}</span>
            <!-- <span class="ml-3 text-sm text-white opacity-50">32.44 USD</span> -->
          </div>
          <!-- <p class="text-lg text-gray-400">Description</p> -->
          <div class="text-base text-justify text-gray-400 break-words dark:text-white lg:mr-20 respDesc overflow-ellipsis">
            {{nft?.description}}
          </div>
          <ng-container *ngIf="nft?.nftStatus && (isAdminPanel$ | async)">
            <button class="buyNowBtn" >
              {{nft.nftStatus}}
            </button>
          </ng-container>
          <ng-container *ngIf="!nft?.isOwner && nft?.nftStatus && nft?.nftStatus !== 'Sold' && (isAdminPanel$ | async) === false; else salesBtn">
            <ng-container  *ngIf="nft?.nftStatus !== 'Active'; else nftButton" >
              <button class="buyNowBtn" >
                {{nft.nftStatus}}
              </button>
            </ng-container>
            <ng-template #nftButton>
              <button (click)="buyNow()" class="buyNowBtn" >
                Buy Now
               </button>
            </ng-template>
          </ng-container>
          <ng-template #salesBtn>
            <ng-container *ngIf="nft?.isOwner">
              <ng-container *ngIf="nft?.isResaleAvailable; else resaleBtn">
                <button (click)="cancelResale()" class="buyNowBtn">
                  Cancel Resale
                </button>
              </ng-container>
              <ng-template #resaleBtn>
                <button (click)="resale()"
                  class="buyNowBtn">
                  Resale
                </button>
              </ng-template>
            </ng-container>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #PreviewDialog let-ref="dialogRef">
  <div style="background: black">
    <div>
      <video style="
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        width: 100%;
        object-position: contain;
        display: block;"
        class="preview-card"
        autoplay
        controls
        controlsList="nodownload"
      >
        <source src="{{ nft?.serverCaptureFileUrl }}" type="video/mp4" />
      </video>
    </div>
  </div>
</ng-template>




<ng-template #AudioPreviewDialog let-ref="dialogRef">
  <div style="background: black">
    <div>
      <audio controls>
        <source src="{{ nft?.serverCaptureFileUrl }}" type="audio/mpeg">
      </audio>
    </div>
  </div>
</ng-template>
