 <!-- <div class="px-0 md:px-6 lg:px-6">
   <div class="flex gradient-border mt-14 mb-36"
     style="background-image: url(./assets/card/bg-card.png); background-repeat: no-repeat; background-size: cover;  ">
     <div>
       <img src="./assets/card/Group 57316@2x.png" alt="" class="pt-6 pb-6 pl-6" style="width: 529px; height: 532px" />
       <div class="mb-6 ml-6">
         <p class="mt-6 inline mr-2.5  text-lg text-white opacity-50">
           Contract Address
         </p>
         <span class="text-lg text-white">0x395f.....2f61</span> <br />
         <p class="inline mt-6 text-lg text-white opacity-50 mr-7">
           Token Address
         </p>
         <span class="text-lg text-white">ERC-721</span> <br />
         <p class="inline mt-6 text-lg text-white opacity-50">
           Network
         </p>
         <span class="ml-20 text-lg text-white">Polygon</span>
       </div>
     </div>
     <div style="width: 507px; height: 428px" class="mt-6 ml-10">
       <div class="flex items-center justify-between">
         <div>
           <button class="inline-flex items-center px-2 text-white bg-opacity-25 h-14 w-44 bg-primary-200 rounded-xl"
             style="background: #1f203e 0% 0% no-repeat padding-box">
             <div class="flex rounded">
               <img class="w-10 h-10 rounded-full" src="./assets/card/owner.png" alt="Joker Card" />
             </div>
             <span class="ml-6 text-sm text-white">John D.</span>
           </button>
         </div>
         <div class="flex justify-between">
           <span class="text-sm text-white opacity-50">Token ID</span>
           <span class="ml-3 text-sm text-white ">964</span>
         </div>
       </div>

       <p class="mt-6 mb-6 text-3xl font-medium tracking-wider text-white">
         Deep Thoughts Art
       </p>
       <div class="flex items-center justify-start">
         <div class="mt-0">
           <p class="text-base font-light opacity-50">Creator</p>
           <button class="inline-flex items-center justify-between py-2 text-white rounded-xl">
             <div class="flex items-start rounded nft-img">
               <img class="rounded-full w-7 h-7" src="./assets/card/owner.png" alt="Joker Card" />
             </div>
             <span class="ml-2 mr-2 text-sm leading-none text-white">John D.</span>
           </button>
         </div>
         <div class="ml-3">
           <p class="text-base font-light opacity-50">Owner</p>
           <button class="inline-flex items-center justify-between py-2 text-white rounded-xl">
             <div class="flex items-start rounded nft-img">
               <img class="rounded-full w-7 h-7" src="./assets/card/owner.png" alt="Joker Card" />
             </div>
             <span class="ml-2 mr-2 text-sm leading-none text-white">John D.</span>
           </button>
         </div>
       </div>
       <p class="mt-6 mb-2 text-base font-light opacity-50">Price</p>
       <div class="flex items-center justify-start mb-5">
         <span class="text-2xl font-semibold tracking-widest text-white">€ 1.77</span>
         <span class="ml-3 text-sm text-white opacity-50">32.44 USD</span>

       </div>
       <div>
         <span class="text-sm text-white opacity-50 ">Description</span><br>
         <span class="text-base text-justify text-white ">
           But I must explain to you how all this mistaken idea of denouncing
           pleasure and praising pain was born and I will give you a complete
           But I must explain to you how all this mistaken idea of denouncing
           pleasure.
         </span>
         <button style="
              width: 507px;

              background: transparent
                linear-gradient(96deg, #73bfd6 0%, #75f36b 100%) 0% 0% no-repeat
                padding-box;
            " class="text-white font-medium mt-3.5 h-14 rounded-full py-3 px-6 opacity-100">
           Buy Now
         </button>
       </div>
     </div>
   </div>
 </div> -->



 <div class="justify-center card-border">
   <div class="flex"
     >
     <div
     class="md:flex lg:flex"
     style="background-image: url(./assets/card/bg-card.png); background-repeat: no-repeat;  background-size: 100% 100%;"

   >
     <!-- Left Section -->
     <div class="flex-col sm:w-full md:flex lg:flex">
      <div class="p-6 md:p-0 lg:p-0 lg:pt-6 lg:pb-6 lg:pl-6">
        <img
          src="./assets/card/Group 57316@2x.png"
          alt="nftmarketSearch"
          style="width: 500px; height: 500px"
          class="resImg"
        />
      </div>
      <div class="mb-6 ml-6">
        <p class="mt-6 inline mr-2.5 text-lg text-white opacity-50">
          Contract Address
        </p>
        <span class="text-lg text-white">0x395f.....2f61</span> <br />
        <p class="inline mt-6 text-lg text-white opacity-50 mr-7">
          Token Address
        </p>
        <span class="text-lg text-white">ERC-721</span> <br /><br />
        <button class="inline-flex items-center justify-between px-3 bg-gray-400 bg-opacity-25 cursor-pointer rounded-xl md:mt-0 hover:bg-opacity-70 ">
          <div class="flex items-start rounded nft-img">
            <img class="w-6 h-8"
              src="./assets/icons/polygon-matic-logo.svg"
              alt="polygon"
            />
          </div>
          <span class="ml-3 mr-3 text-sm leading-none text-gray-200 hover:text-gray-900">View on Polygon.</span>
          <img class="w-4 h-10"
              src="./assets/icons/exit-top-right.svg"
              alt="polygon"
            />
        </button>
      </div>
    </div>
     <!-- Right Section  -->
     <div class="m-4 lg:flex md:flex md:m-0 lg:m-0">
       <div class="mt-6 lg:ml-11 md:ml-5">
         <div class="flex items-center justify-between">
           <div>
             <button
               class="inline-flex items-center px-2 text-white bg-opacity-25 h-14 w-44 bg-primary-200 rounded-xl"
               style="background: #1F203E 0% 0% no-repeat padding-box"
             >
               <div class="flex rounded">
                 <img
                   class="w-10 h-10 rounded-full"
                   src="./assets/card/owner.png"
                   alt="Joker Card"
                 />
               </div>
               <span class="ml-6 text-sm text-white">John D.</span>
             </button>
           </div>
           <div class="flex justify-between">
             <span class="text-sm text-white opacity-50">Token ID</span>
             <span class="pr-6 ml-3 text-sm text-white">964</span>
           </div>
         </div>
         <p class="mt-6 mb-6 text-3xl font-medium tracking-wider text-white">
           Deep Thoughts Art
         </p>
         <div class="flex items-center justify-start">
           <div class="mt-0">
             <p class="text-base font-light opacity-50">Creator</p>
             <button
               class="inline-flex items-center justify-between py-2 text-white rounded-xl"
             >
               <div class="flex items-start rounded nft-img">
                 <img
                   class="rounded-full w-7 h-7"
                   [src]="nft?.creator?.profileImageURL"
                   alt="Joker Card"
                 />
               </div>
               <span class="ml-2 mr-2 text-sm leading-none text-white">
                 {{nft?.creator?.displayName}}
                </span>
             </button>
           </div>
           <div class="ml-3">
             <p class="text-base font-light opacity-50">Owner</p>
             <button
               class="inline-flex items-center justify-between py-2 text-white rounded-xl"
             >
               <div class="flex items-start rounded nft-img">
                 <img
                   class="rounded-full w-7 h-7"
                   [src]="nft?.ownerData?.profilePicURL"
                   alt="Joker Card"
                 />
               </div>
               <span class="ml-2 mr-2 text-sm leading-none text-white"
                 >
                 {{nft?.ownerData?.fullName}}</span
               >
             </button>
           </div>
         </div>
         <p class="mt-6 mb-2 text-base font-light opacity-50">Price</p>
         <div class="flex items-center justify-start mb-5">
           <span class="text-2xl font-semibold tracking-widest text-white"
             >€ 1.77</span
           >
           <span class="ml-3 text-sm text-white opacity-50">32.44 USD</span>
         </div>
         <div>
           <span class="text-sm text-white opacity-50">Description</span><br />
           <div class="text-base text-justify text-white lg:mr-20">
             {{nft.description}}
           </div>
           <button
             style="

               background: transparent
                 linear-gradient(96deg, #73BFD6 0%, #75F36B 100%) 0% 0%
                 no-repeat padding-box;
             "
             class="
               text-white
               hover:text-primary-c
               md:w-10/12 lg:w-10/12 w-full
               font-medium
               mt-3.5
               h-14
               rounded-full
               py-3

             "
           >
             Buy Now
           </button>
         </div>
       </div>
     </div>
   </div>
   </div>
 </div>




