<div class="w-full dark:bg-primary-900 bg-primary-gray-600">
  <footer
  class="flex-wrap justify-between py-3.5 main-container navbar-expand-lg">
  <div class="flex flex-wrap items-center justify-between w-full mx-auto">
    <div class="static flex justify-start w-auto lg:block ">
      <span class="dark:text-gray-500 text-gray-800">
        2021 Copyright © Noderon
      </span>


    </div>
    <!-- <div class="flex items-center justify-end flex-grow bg-opacity-0 shadow-none hidde bg-blueGray-800">
    copyright
    </div> -->
  </div>
</footer>
</div>
