<div class="relative confirmation-dialog-model">
  <div class="flex justify-end">
    <button class="btn-close"  (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <div class="flex flex-col items-center justify-center inline-block h-auto mt-11 ">
    <p class="text-xl text-center">
      It seems you don't have enough <b>NDCT</b>.<br> Buy now to Create <b>NFT</b>.
     </p>
   <div class="flex justify-between w-full mt-4 mb-4">

     <button class="text-white primary-btn" (click)="onConfirmClick()">
      Subscribe
     </button>
     <button class="cancel-btn" (click)="close()">
       Close
     </button>
   </div>
  </div>




</div>
