::ng-deep .confirmation-dialog-overlay {
  @apply bg-white text-gray-900 rounded-3xl justify-center;
  height: auto;
  min-height: 200px;
  max-width: 557px !important;
}

::ng-deep .confirmation-dialog-overlay .mat-dialog-container {
  padding: 12px;
}


.confirmation-dialog-model {
  @apply flex flex-col  px-0  sm:px-12 h-full;

  .btn-close {
   @apply absolute top-0 right-0 bg-white rounded-full opacity-50 m-3.5 hover:opacity-70;
   padding: 1px;
   svg {
     color: #132356;
   }
 }

}




.cancel-btn{
  @apply rounded-full border border-yellow-500 w-16
}
