
.back-btn {
  @apply px-5 py-1 rounded-full text-gray-400 h-12 bg-gray-200 w-28 mr-3;
}



::-webkit-file-upload-button {
  display: none;
}

.image-upload>input {
  display: none;
}

// .file-input {
//   img{
//     @apply w-64 lg:w-48 lg:h-44 xl:w-48 xl:h-44
//   }
// }

.spinner:before {
  left: 90%;
}
.primary-btn {
  @apply px-5 py-1 rounded-full text-white h-12 w-32 ;
  background: transparent linear-gradient(308deg, #D59529 0%, #F1B11D 100%) 0% 0% no-repeat padding-box;
  &.dark {
    @apply text-black;
    background: transparent linear-gradient(109deg, #59C8D1 0%, #75F16D 100%) 0% 0% no-repeat padding-box;
  }
}

.btn-close {
  @apply absolute top-0 right-0 bg-white rounded-full opacity-50 m-3.5 hover:opacity-70;
  padding: 1px;
  svg {
    color: #132356;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
  // display: flex;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 45px;
  font-weight: 700;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.overlay a:hover, .overlay a:focus {
  color: #269604;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #ffffff;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.preview {
  @apply object-cover w-24 h-24 ;
}


.editBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -90px;
  text-align: center;
  // filter: invert(1);
  transition: transform 500ms ease-in-out 25ms;
  cursor: pointer;
  // display: none;
}


a{
  color:rgb(250, 169, 19);
}
