
.back-btn {
  @apply px-5 py-1 rounded-full text-gray-400 h-12 bg-gray-200 w-28 mr-3;
}

::-webkit-file-upload-button {
  display: none;
}

.image-upload>input {
  display: none;
}

.file-input {
  img{
    @apply w-64 lg:w-2/4
  }
}
