<div class="card-border">
    <a [routerLink]="['/',clubName,'detail',nft.id]">
      <div class="nft-img">
        <img *ngIf="nft?.serverCaptureFileUrl" class="w-64 h-56" [src]="nft.serverCaptureFileUrl" [alt]="nft.name" />
      </div>
    </a>
  <div class="flex items-center justify-between">
    <div class="inline-flex">
      <div class="flex justify-start h-9">
        <span class="inline-flex items-center py-1 text-sm leading-none text-gray-400 ">
         {{nft.type}}

        </span>
        <span class="inline-flex items-center text-sm text-gray-400">
          <span class="relative mb-8" style="color: #46F5AB; font-size: 50px;">.</span>
        </span>


      </div>
    </div>
    <span class="inline-flex text-gray-400">
      #{{nft.tokenId}}
    </span>
  </div>
  <div class="mb-2">
    <p class="w-2 pt-1 text-lg font-medium tracking-widest dark:text-white trun">{{nft.name}}</p>
  </div>
  <div class="flex items-center justify-between">
    <span class="inline-flex">
      <img src="./assets/coin/card-coin.svg" alt="">
      <span class="ml-2 font-semibold">{{nft.price}}</span>
    </span>
    <ng-container *ngIf="walletPage">
      <ng-container *ngIf="nft?.isResaleAvailable; else resaleBtn">
        <button (click)="cancelResale()" class="px-4 py-1 text-xs text-white rounded-full w-18 h-7 btn-nft">
          Cancel Resale
        </button>
      </ng-container>
      <ng-template #resaleBtn>
        <button (click)="resale()"
        class="px-4 py-1 text-xs text-white rounded-full w-18 h-7 btn-nft">
          Resale
        </button>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="!walletPage">
      <ng-container *ngIf="nft?.nftStatus && (isAdminPanel$ | async)">
        <button class="px-4 py-1 text-xs text-white rounded-full w-18 h-7 btn-nft" >
          {{nft.nftStatus}}
        </button>
      </ng-container>
      <ng-container *ngIf="!nft?.isResaleAvailable && nft?.nftStatus && nft?.nftStatus !== 'Sold' && (isAdminPanel$ | async) === false">
        <ng-container  *ngIf="nft?.nftStatus !== 'Active'; else nftButton" >
          <button class="px-4 py-1 text-xs text-white rounded-full w-18 h-7 btn-nft" >
            {{nft.nftStatus}}
          </button>
        </ng-container>
        <ng-template #nftButton>
          <button (click)="buyNow()" class="px-4 py-1 text-xs text-white rounded-full w-18 h-7 btn-nft" >
            Buy Now
          </button>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="nft?.isResaleAvailable;">
        <button (click)="cancelResale()" class="px-4 py-1 text-xs text-white rounded-full w-18 h-7 btn-nft">
          Cancel Resale
        </button>
      </ng-container>
    </ng-container>
  </div>
</div>
