<div class="card-border">
    <a [routerLink]="['/',clubName,'detail',nft.id]">
      <div class="nft-img">
        <img *ngIf="nft?.serverCaptureFileUrl" style=" width: 281px;
        height: 303px;" [src]="nft.serverCaptureFileUrl" [alt]="nft.name" />
      </div>
    </a>
  <div class="flex items-center justify-between mt-1">
    <div class="flex justify-start text-xs font-bold ">
      #{{nft.tokenId}}
    </div>
    <span class="inline-flex">
      <img src="./assets/coin/card-coin.svg" alt="">
      <span class="ml-2 text-sm font-semibold">{{nft.price}}</span>
    </span>
  </div>
  <div class="inline-flex">
    <div class="flex items-center justify-start text-sm leading-none text-gray-400 ">
      {{nft.type}}
      <!-- <span class="inline-flex items-center text-sm text-gray-400">
        <span  style="color: #46F5AB; font-size: 50px;">.</span>
      </span> -->
    </div>
  </div>
  <div class="flex items-center justify-between">
    <div class="w-2/5">
      <p class="pt-1 text-xl font-medium dark:text-white trun">{{nft.name}}</p>
    </div>
    <ng-container *ngIf="walletPage">
      <ng-container *ngIf="nft?.isResaleAvailable; else resaleBtn">
        <button (click)="cancelResale()" class="btn-nft">
          Cancel Resale
        </button>
      </ng-container>
      <ng-template #resaleBtn>
        <button (click)="resale()"
        class="btn-nft">
          Resale
        </button>
      </ng-template>
    </ng-container>
    <ng-container *ngIf="!walletPage">
      <ng-container *ngIf="nft?.nftStatus && (isAdminPanel$ | async)">
        <button class="btn-nft" >
          {{nft.nftStatus}}
        </button>
      </ng-container>
      <ng-container *ngIf="!nft?.isResaleAvailable && nft?.nftStatus && nft?.nftStatus !== 'Sold' && (isAdminPanel$ | async) === false">
        <ng-container  *ngIf="nft?.nftStatus !== 'Active'; else nftButton" >
          <button class="btn-nft" >
            {{nft.nftStatus}}
          </button>
        </ng-container>
        <ng-template #nftButton>
          <button (click)="buyNow()" class="btn-nft" >
            Buy Now
          </button>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="nft?.isResaleAvailable;">
        <button (click)="cancelResale()" class="btn-nft">
          Cancel Resale
        </button>
      </ng-container>
    </ng-container>
  </div>
</div>
