.nft-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.21rem;
  border-radius: 21px;
 }


.bg-card {
 background-color: #2F3157;
}

.btn-nft {
  background: transparent linear-gradient(109deg, #59C8D1 0%, #75F16D 100%) 0% 0% no-repeat padding-box;
}

.gard-border {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 20px !important;

}

.border-gradient-green {
  border-image-source:  linear-gradient(to bottom,  #64F3FF  0%,#75F16D 100%);
}

.search-bg{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 0.08;
}

.search-btn {
  background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.07;
}

.bg-url {
  background-image: url('../../../../assets/card/treading-url.png') ;
background-repeat: no-repeat;
background-size: 100% 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: contain;
}


