.nft-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.21rem;
  border-radius: 21px;

 }




.bg-card {
 background-color: #2F3157;
}

.btn-nft {
  @apply w-24 h-8 text-sm rounded-full text-white;
  background: #D69729;
  &.dark {
    background: transparent linear-gradient(109deg, #59C8D1 0%, #75F16D 100%) 0% 0% no-repeat padding-box;
  }
}
.btn-nft.Minted {
  @apply w-24 h-8 text-sm rounded-full text-white;
  background: #D69729;
  &.dark {
    background: transparent linear-gradient(109deg, #C67BFF 0%, #C5E857 100%) 0% 0% no-repeat padding-box;
  }
}
.btn-nft.Draft {
  @apply w-24 h-8 text-sm rounded-full text-white;
  background: #B2B2B2 0% 0% no-repeat padding-box;
}



.bg-url {
  background-image: url('../../../../assets/card/treading-url.png') ;
background-repeat: no-repeat;
background-size: 100% 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: contain;
}

.card-border{
  @apply p-3 rounded-2xl mb-6 bg-white
  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 cursor-pointer;
  height: 407px;
  width: 305px;
  border: 1px solid transparent;
  box-shadow: rgba(4, 17, 29, 0.151) 0px 0px 10px 0px;
  transition: transform .5s;
 ;

}

.card-border:hover {
  // transition: box-shadow .3s;
  transform: scale(1.05);

 }

.trun{

    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.playBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -90px;
  text-align: center;
  // filter: invert(1);
  transition: transform 500ms ease-in-out 25ms;
  cursor: pointer;
}

.playBtn:hover  {
  transform: scale(1.5);
}

