.nft-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.21rem;
  border-radius: 21px;
 }


.bg-card {
 background-color: #2F3157;
}

.btn-nft {
  background: transparent linear-gradient(99deg, #FFB937 0%, #D59629 100%) 0% 0% no-repeat padding-box;
  &.dark {
    background: transparent linear-gradient(109deg, #59C8D1 0%, #75F16D 100%) 0% 0% no-repeat padding-box;
  }
}
.btn-nft.Minted {
  background: transparent linear-gradient(100deg, #FBB636 0%, #D9992B 100%) 0% 0% no-repeat padding-box;
  &.dark {
    background: transparent linear-gradient(109deg, #C67BFF 0%, #C5E857 100%) 0% 0% no-repeat padding-box;
  }
}
.btn-nft.Draft {
  background: #B2B2B2 0% 0% no-repeat padding-box;
}



.bg-url {
  background-image: url('../../../../assets/card/treading-url.png') ;
background-repeat: no-repeat;
background-size: 100% 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: contain;
}

.card-border{
  @apply p-3 rounded-2xl mb-6  border-gradient-dp-p-bg-light hover:border-gradient-tl-p-bg-light gradient-border-2;
  height: 358px;
  width: 281px;
  border: 2px solid transparent;

}

.trun{

    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.playBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -90px;
  text-align: center;
  // filter: invert(1);
  transition: transform 500ms ease-in-out 25ms;
  cursor: pointer;
}

.playBtn:hover  {
  transform: scale(1.5);
}

