<img alt="" [src]="">
<div class="create-nft-options-model">
  <div class="flex justify-end">
    <button class="btn-close" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div class="flex items-center justify-between">
    <div class="inline-flex">
      <h1 *ngIf="isTicket; else Membership" class="font-medium text-3xl"><span>Tic</span>ket Preview</h1>
      <ng-template #Membership>
        <h1 class="font-medium text-3xl"><span>Membersh</span>ip Card Preview</h1>
      </ng-template>
    </div>
  </div>
  <img alt [src]="img">
</div>
