::ng-deep .create-group-dialog-overlay {
  height: auto;
  min-height: 584px;
  max-width: 580px !important;
}

 .group-model {
   @apply flex flex-col items-center px-0  sm:px-16;

   .btn-close {
    @apply absolute top-0 right-0 bg-white rounded-full opacity-50 m-3.5 hover:opacity-70;
    padding: 1px;
    svg {
      color: #132356;
    }
  }

  img {
    @apply object-scale-down mt-6 sm:mt-6 md:mt-12;
    width: 410px;
    height: 90px;
  }

  h1 {
    @apply my-4 text-3xl self-start;
    font-weight: 400;
    span {
      padding-bottom: 4px;
      border-bottom: 2px solid #75F16D;
    }
  }

  form {
    @apply flex flex-col w-full;

    label {
      @apply py-4 text-lg;
    }

    input {
      @apply h-14 px-5;
    }

    textarea {
      @apply p-5;
      height: 156px;
    }

    p{
      @apply px-2;
    }

    button {
      @apply w-40 h-11 my-8 self-center;
    }

  }

 }
