:host {
  @apply w-full flex justify-center;
}

.main {
  @apply relative w-full max-w-7xl p-7;
}

.btn-nft {
  background: transparent linear-gradient(109deg, #59C8D1 0%, #75F16D 100%) 0% 0% no-repeat padding-box;
}

.nft-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.21rem;
  border-radius: 21px;
 }


.bg-card {
 background-color: #2F3157;
}

.btn-nft {
  background: transparent linear-gradient(109deg, #59C8D1 0%, #75F16D 100%) 0% 0% no-repeat padding-box;
}

.gard-border {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-radius: 20px !important;

}

.border-gradient-green {
  border-image-source:  linear-gradient(to bottom,  #64F3FF  0%,#75F16D 100%);
}

.search-bg{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 0.08;
}

.search-btn {
  background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.07;
}

.membership-btn{
  background: transparent linear-gradient(106deg, #79D984 0%, #EF676C 100%) 0% 0% no-repeat padding-box;
}

.tickets-btn{
  background: transparent linear-gradient(108deg, #D94E66 0%, #D48D31 100%) 0% 0% no-repeat padding-box;
}





