@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";



:host {
  @apply w-full flex justify-center;
}

.main {
  @apply relative w-full max-w-7xl p-7;
}

.cards-container {
  @apply flex flex-wrap w-full h-auto justify-center;

  app-nft-card {
    margin: 0px 9px;
  }
}

.filter-btn{
  @apply inline-flex justify-center w-full px-4 py-1 text-sm font-medium dark:text-white bg-gradient-to-r dark:focus:from-blue-400 dark:focus:to-green-400 rounded-full shadow-sm ;
}
.all-item {
 @apply bg-black px-4 py-1 text-xs tracking-wide text-white md:h-7 lg:h-7 h-11 bg-gradient-to-r focus:from-blue-400 focus:to-green-400 rounded-full shadow-sm focus:outline-none
}



.membership-btn{
  @apply bg-black px-4 py-1  text-xs tracking-wide text-white rounded-full bg-gradient-to-r focus:from-blue-400 focus:to-green-400 rounded-full md:h-7 lg:h-7 h-11
}

.tickets-btn{
 @apply bg-black px-4 py-1  text-xs tracking-wide text-white rounded-full md:h-7 lg:h-7 h-11 bg-gradient-to-r focus:from-blue-400 focus:to-green-400 rounded-full
}


// .pagination-btn{
//   @apply inline-flex items-center justify-center w-12 h-12 px-3 py-3 font-bold bg-gray-400 bg-opacity-25 rounded-xl hover:bg-primary-400 focus:bg-primary-400;
// }

.pagination-btn{
  @apply inline-flex items-center justify-center w-12 h-12 px-3 py-3 font-bold bg-gray-400 bg-opacity-25 rounded-xl hover:bg-yellow-500 focus:bg-yellow-500;
}

.groups{
  @apply my-2 rounded-md bg-gradient-to-r from-blue-300 to-green-500  hover:from-blue-500 hover:to-green-400;
}

.dropdown{
  @apply my-1 rounded-md border-gradient-dp-p-bg-light hover:border-gradient-tl-p-bg-light gradient-border-1 text-center;
}


.active{
 @apply items-center px-3 py-2 mx-1 bg-gradient-to-r from-yellow-500 to-purple-400 rounded-full text-white text-sm
}

.width-container {
  @apply flex flex-col justify-between my-0 mx-auto sm:px-4 ;
  @apply md:px-8;
  @apply lg:px-10;

  max-width: 100%;
  min-width: 340px;
}

// Group section

.group-img {
  @apply rounded-full shadow-lg w-44 h-44;
}

@media only screen and (min-width: 1280px) {
  .custom {
    left: 46.333333%;
}

}
