<div class="create-nft-price-model ">
  <div class="flex justify-end">
    <button class="btn-close">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div class="flex items-center justify-between">
    <div class="inline-flex">
      <h1 class=""><span>Cre</span>ate NFT</h1>
    </div>
  </div>
  <div class="flex flex-col">
    <span class="text-xl">Price</span><br>
    <input type='text' placeholder="500">
  </div>

  <div class="flex flex-col mt-6">
    <label class="flex items-center">
      <input type="checkbox" class="h-8 text-green-500 ">
      <span class="ml-2">Instant Mint</span>
    </label>
    <label class="flex items-center">
      <input type="checkbox" class="h-8 text-green-500">
      <span class="ml-2">Sale</span>
    </label>
  </div>


  <button class="primary-btn">
    Minting
  </button>
</div>
