<!--TICKET-->
<div class="create-nft-model">
  <div class="flex justify-end">
    <button class="btn-close">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div class="flex items-center justify-between">
    <div class="inline-flex">
      <h1 class=""><span>Cre</span>ate NFT</h1>
    </div>
    <div class="inline-flex">
      <span class="text-green-500">Preview</span>
    </div>
  </div>
  <div class="flex flex-col">
    <span class="text-xl">Select Ticket Style</span>
    <li class="inline-flex justify-around my-4">
      <ul><img src="../../../../../assets/card/2.svg" alt=""></ul>
      <ul><img src="../../../../../assets/card/2.svg" alt=""></ul>
      <ul><img src="../../../../../assets/card/3.svg" alt=""></ul>
      <ul><img src="../../../../../assets/card/4.svg" alt=""></ul>
      <ul><img src="../../../../../assets/card/5.svg" alt=""></ul>
    </li>
  </div>
  <div class="flex flex-col">
    <span class="text-xl">Select Logo</span><br>
    <input type='file' class="border-2 border-gray-400 border-dashed " placeholder="Select logo to upload">
  </div>
  <div class="flex items-center justify-between mt-4">
    <div class="inline-flex flex-col">
      <span class="text-xl">Select Logo</span><br>
      <input type="date" class="px-2 text-gray-400 w-44" >
    </div>
    <div class="inline-flex flex-col">
      <span class="text-xl">Select Logo</span><br>
      <!-- <input type="email" class="w-44" placeholder="Rock"> -->
      <label class="block text-left">

        <select
          class="block h-16 px-4 text-lg text-gray-400 rounded-lg bg-primary-d focus:outline-none w-44 form-select">
          <option>Rock 1</option>
          <option>Rock 2</option>
        </select>
      </label>

    </div>
  </div>
  <div class="flex flex-col mt-4">
    <span class="text-xl">Enter Address</span><br>
    <input type="email" placeholder="Building 76-A Block B South West, 79000">
  </div>
  <button class="primary-btn">
    Next
  </button>
</div>


<!--MEMBERSHIP-->
<div class="create-nft-model">
  <div class="flex justify-end">
    <button class="btn-close">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div class="flex items-center justify-between">
    <div class="inline-flex">
      <h1 class=""><span>Cre</span>ate NFT</h1>
    </div>
    <div class="inline-flex">
      <span class="text-green-500">Preview</span>
    </div>
  </div>
  <div class="flex flex-col">
    <span class="text-xl">Select Ticket Style</span>
    <li class="inline-flex justify-around my-4">
      <ul><img src="../../../../../assets/card/2.svg" alt=""></ul>
      <ul><img src="../../../../../assets/card/2.svg" alt=""></ul>
      <ul><img src="../../../../../assets/card/3.svg" alt=""></ul>
      <ul><img src="../../../../../assets/card/4.svg" alt=""></ul>
      <ul><img src="../../../../../assets/card/5.svg" alt=""></ul>
    </li>
  </div>
  <div class="flex flex-col">
    <span class="text-xl">Select Logo</span><br>
    <input type='file' class="border-2 border-gray-400 border-dashed " placeholder="Select logo to upload">
  </div>
  <div class="flex items-center justify-between mt-4">
    <div class="inline-flex flex-col">
      <span class="text-xl">Valid Till</span><br>
      <input type="date" class="px-2 text-gray-400 w-44" >
    </div>
    <div class="inline-flex flex-col">
      <span class="text-xl">Select Group</span><br>
      <label class="block text-left">
        <select
          class="block h-16 px-4 text-lg text-gray-400 rounded-lg bg-primary-d focus:outline-none w-44 form-select">
          <option>Rock 1</option>
          <option>Rock 2</option>
        </select>
      </label>
    </div>
  </div>
  <div class="flex flex-col mt-4">
    <span class="text-xl">Membership ID</span><br>
    <input type="email" placeholder="1234 5678 9012 3046">
  </div>
  <button class="primary-btn">
    Next
  </button>
</div>
