<div class="create-nft-model">
  <div class="flex justify-end">
    <button class="btn-close" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div class="flex items-center justify-between">
    <div class="inline-flex">
      <h1 class=""><span>Cre</span>ate NFT</h1>
    </div>

    <div class="inline-flex">
      <span class="text-green-500 cursor-pointer">Preview</span>
    </div>
  </div>

  <div id="bg-image" style="width: 529px; height: 487px;" >
    <img id="showImage" alt="NFT-Image" style="width: 529px; height: 487px;" >
    <img style="position: absolute;
    top: 28%;
    left: 28%;" src={{url}} alt="">
    <p style="position: absolute;
    top: 24%;
    left: 72%;
    transform: rotate(45deg);
    font-size: 28px;
    font-weight: 400;">{{createNft.controls.selectedValue.value}}</p>
<div style="position: absolute;
top: 39%;
left: 25%;">
  <p >Date</p>
  <p style="font-size: 24px;
  font-weight: 400;">{{createNft.controls.date.value}}</p>
</div>
<div style="position: absolute;
top: 39%;
left: 62%;">
  <p>Ticket</p>
  <p style="font-size: 24px;
  font-weight: 400;">{{createNft.controls.selectedValue.value}}</p>
</div>
<div style="    position: absolute;
top: 51%;
left: 27%;">
  <p style="    font-size: 24px;
  font-weight: 400;
  opacity: 0.8;">{{createNft.controls.address.value}}</p>
</div>
  </div>


  <form action="" [formGroup]="createNft">
    <div class="flex flex-col">
      <span class="text-xl">Select Ticket Style</span>
      <li class="inline-flex justify-around my-4">
        <ul>
          <label>
          <input type="radio" name="test" value="small">
          <img id="ticket" src="./assets/card/1A.svg" (click)="showImageInDiv()">
        </label>
        </ul>
        <ul>
          <label>
          <input type="radio" name="test" value="small">
          <img id="ticket" src="./assets/card/2A.svg" (click)="showImageInDiv()">
        </label>
      </ul>
        <ul>
          <label>
          <input type="radio" name="test" value="small">
          <img id="ticket" src="./assets/card/3A.svg" (click)="showImageInDiv()">
        </label>
      </ul>
        <ul>
          <label>
          <input type="radio" name="test">
          <img id="ticket" src="./assets/card/4A.svg" (click)="showImageInDiv()">
        </label>
      </ul>
        <ul>
          <label>
          <input type="radio" name="test" value="small">
          <img id="ticket" src="./assets/card/5A.svg" (click)="showImageInDiv()">
        </label>
      </ul>
   </li>
    </div>
    <div class="flex flex-col">
      <span class="text-xl">Select Logo</span><br>
      <div class="relative flex justify-between overflow-hidden border-2 border-gray-400 border-dashed rounded-lg">
      <button
        class="flex items-center justify-between w-full px-4 py-2 font-bold text-gray-400 bg-primary-gray-100 hover:bg-indigo-dark">
        <div class="ml-2 font-light text-gray-400">Select logo to Upload</div>
        <div>
          <svg
            fill="#FFF"
            height="28"
            viewBox="0 0 24 24"
            width="28"
            xmlns="http://www.w3.org/2000/svg"
            class="m-2">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z" />
          </svg>
        </div>
      </button>
      <input
        class="absolute block opacity-0 cursor-pointer pin-r pin-t "
        type="file"
        name=""  accept="image/*"
        (change)="onSelectFile($event)"
      />
    </div>
    </div>
    <div class="flex items-center justify-between mt-4">
      <div class="inline-flex flex-col">
        <span class="text-xl">Valid till</span><br>
        <input type="date" class="px-2 font-light text-gray-400 w-44" formControlName="date" >
      </div>
      <div class="inline-flex flex-col">
        <span class="text-xl ">Select Group</span><br>
        <!-- <input type="email" class="w-44" placeholder="Rock"> -->
        <label class="block text-left">

          <select formControlName="selectedValue"
            class="block h-16 px-4 text-lg font-light text-gray-400 rounded-lg bg-primary-gray-100 focus:outline-none w-44 form-select">
            <option selected *ngFor="let group of (groups$ | async)" [ngValue]="group.id && group.name">{{group.name}}</option>
            <!-- <option>Rock 2</option> -->
          </select>
        </label>

      </div>
    </div>
    <div class="flex flex-col mt-4">
      <span class="text-xl ">Enter Address</span><br>
      <input class="font-light" type="email" placeholder="Building 76-A Block B South West, 79000" formControlName="address">
    </div>
    <button class="primary-btn" (click)=" addImage();">
      Next
    </button>


  </form>
