<!-- <div style="filter: brightness(100%); filter: blur(8px);"> -->
<app-admin-header></app-admin-header>
<div class="h-auto min-h-screen p-1 mt-10 center md:p-3 xl:p-5 md:mt-0">
  <div class="flex flex-wrap w-full pb-28">

    <div class="order-1 w-full section-container lg:order-1 xl:w-65 lg:w-3/5 ">

      <div class="relative chart-status">
        <button mat-icon-button aria-label="menu" class="absolute mt-2"  mat-icon-button [matMenuTriggerFor]="statusMenu" >

          <mat-icon>more_vert</mat-icon>

        </button>
        <div style="">

          <mat-menu #statusMenu="matMenu" class="bg-primary-600 mt-0.5 p-2 w-32 rounded-md" xPosition='after' >
            Stats of
            <button class="dropdown" mat-menu-item *ngFor="let month of months">
             {{month.name}}
            </button>
          </mat-menu>
          <canvas #myCanvas class="px-16 py-6 mb-32" baseChart width="816" height="300"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [plugins]="lineChartPlugins"
          [legend]="lineChartLegend"
          [colors]="lineChartColors"
          [chartType]="lineChartType">
        </canvas>
        </div>
        <div class="section">
          <ng-container *ngIf="(creatorStats$ | async) as creatorStats">
          <div class="listed">
            <p>Total NFT Listed</p>
            <span>{{creatorStats?.yearlyStats?.totalNftListed}}</span>
          </div>
          <div class="sold">
            <p>Total NFT Sold</p>
            <span>{{creatorStats?.yearlyStats?.soldNft}}</span>
          </div>
          <div class="profit">
            <p>Sold NFT Profit</p>
            <span>€ {{creatorStats?.yearlyStats?.profit}}</span>
          </div>
        </ng-container>
        </div>
      </div>
    </div>
    <div class="order-2 w-full section-container lg:order-2 xl:w-35 lg:w-2/5 ">
      <div class="flex flex-col justify-between section status">
        <ng-container *ngIf="(creatorStats$ | async) as creatorStats">
        <div class="available-nft">
          <div class="icon">
            <img class="" src="./assets/icons/network.svg"/>
          </div>
          <div class="value">
            <p>Available NFT</p>
            <span>{{creatorStats?.yearlyStats?.totalNftListed}}</span>
          </div>
          <div class="graph-icon">
            <img class="" src="./assets/icons/growth.png"/>
          </div>
        </div>
        <div class="total-revenue">
          <div class="icon">
            <img class="" src="./assets/icons/revenue.svg"/>
          </div>
          <div class="value">
            <p>Total Revenue</p>
            <span>€ {{creatorStats?.yearlyStats?.soldNft}}</span>
          </div>
          <div class="graph-icon">
            <img class="" src="./assets/icons/growth.png"/>
          </div>
        </div>
        <div class="pending-for-sale">
          <div class="icon">
            <img class="" src="./assets/icons/cart.svg"/>
          </div>
          <div class="value">
            <p>Pending For Sale</p>
            <span>{{creatorStats?.yearlyStats?.profit}}</span>
          </div>
          <div class="graph-icon">
            <img class="" src="./assets/icons/growth.png"/>
          </div>
        </div>
        </ng-container>
      </div>
    </div>
    <div class="order-3 w-full p-5 section-container lg:order-4 xl:w-35 lg:w-2/5 " style="height: 440px;">
      <div class="p-5 section rounded-xl bg-primary-light" id="container1" >
        <p class="tracking-wide font-medium text-white py-2.5">NFT Groups</p>
      <div class="overflow-hidden groups" id="container2">
        <ng-container *ngFor="let group of (groups$ | async)">
          <div class="group">
            <img [src]="group.coverImageUrl" alt="">
            <div>
              <p class="name">{{group.name}}</p>
              <p class="items">{{group.itemsCount}} Items</p>
            </div>
          </div>
        </ng-container>
      </div>
      </div>
    </div>
    <div class="order-4 w-full section-container lg:order-3 xl:w-65 lg:w-3/5 " >
      <div class="section ">
        <div  class="cards-container ">
          <div class="heading-section">
            <div>
              <p>Recently Sold NFT</p>
            </div>
            <div class="pagination">
              <button class="h-8 rounded-md icon-btn w-9 bg-primary-600" (click)="scrollLeft(list)">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.618" height="11.75" viewBox="0 0 17.618 11.75">
                  <defs>
                    <style>
                      .a {
                        fill: #fff;
                        opacity: 0.4;
                      }
                    </style>
                  </defs>
                  <path class="a"
                    d="M14.265,11.477a.8.8,0,0,1,.006,1.126l-3.715,3.727H24.711a.8.8,0,0,1,0,1.591H10.556l3.721,3.727a.805.805,0,0,1-.006,1.126.792.792,0,0,1-1.12-.006L8.108,17.688h0a.893.893,0,0,1-.165-.251.759.759,0,0,1-.061-.306.8.8,0,0,1,.226-.557l5.043-5.079A.78.78,0,0,1,14.265,11.477Z"
                    transform="translate(-7.882 -11.252)" />
                </svg>

              </button>
              <!-- <span>1/8</span> -->
              <button class="icon-btn " (click)="scrollRight(list)">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.618" height="11.75" viewBox="0 0 17.618 11.75">
                  <defs>
                    <style>
                      .a {
                        fill: #fff;
                      }
                    </style>
                  </defs>
                  <path class="a"
                    d="M19.118,11.477a.8.8,0,0,0-.006,1.126l3.715,3.727H8.671a.8.8,0,0,0,0,1.591H22.826l-3.721,3.727a.805.805,0,0,0,.006,1.126.792.792,0,0,0,1.12-.006l5.043-5.079h0a.893.893,0,0,0,.165-.251.759.759,0,0,0,.061-.306.8.8,0,0,0-.226-.557l-5.043-5.079A.78.78,0,0,0,19.118,11.477Z"
                    transform="translate(-7.882 -11.252)" />
                </svg>
              </button>
            </div>
          </div>
          <div  class="body-section ">
            <div #list class="custom-scrollbar-css-y">
              <ng-container *ngIf="nftList && nftList.totalCount > 0">
                <ng-container  *ngFor="let nftCard of nftList.data" class="">
                  <app-nft-card [nft]="nftCard"></app-nft-card>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- </div>

<div class="flex justify-center ">
  <div><h1
    class="coming-soon" style="">
    <span>Coming Soon...</span>
    </h1></div>
</div> -->
