@use '~@angular/material' as mat;
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

@include mat.core();

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import "~swiper/css";
@import "~swiper/css/pagination";

@layer base {
  @import '01-base/font.scss';
  @import '01-base/document.scss';
  @import '01-base/headings.scss';
}

@layer components {
  @import '02-components/link.scss';
}

@layer utilities {
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:disabled,
button[disabled] {
  background-color: rgb(153, 153, 153) !important;
  background: rgb(153, 153, 153) !important;
  cursor: default;
}

mat-dialog-container {
  position: relative;
}


.error-msg {
  color: rgb(250, 129, 129);
}

image-cropper > div {
  display: flex;
  justify-content: center;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}


  .test-net {
    position: absolute;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: 500;
    background-color: rgb(242, 153, 74);
    color: rgb(4, 17, 29);
    border-radius: 4px;
  }
