@use '~@angular/material' as mat;
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

@include mat.core();

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import "~swiper/css";
@import "~swiper/css/pagination";

@layer base {
  @import '01-base/font.scss';
  @import '01-base/document.scss';
  @import '01-base/headings.scss';
}

@layer components {
  @import '02-components/link.scss';
}

@layer utilities {
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:disabled,
button[disabled] {
  background-color: rgb(153, 153, 153) !important;
  background: rgb(153, 153, 153) !important;
  cursor: default;
}

mat-dialog-container {
  position: relative;
}


.error-msg {
  color: rgb(250, 129, 129);
}

image-cropper > div {
  display: flex;
  justify-content: center;
}
