.profile-btn {
  @apply flex items-center justify-center h-10 p-1.5 rounded-3xl bg-primary-gray-200 hover:bg-primary-gray-300 mr-2;
  width: 200px;
  &.dark {
    @apply  bg-primary-600 hover:bg-primary-400 mr-2;
  }
}

.header-con {
  background-color: #FFFF;

  &.dark {
    background-color: transparent;
  }
}
