<div class="flex flex-wrap w-full h-32 mt-16 md:mt-5 lg:h-16">
  <div class="order-2 w-full px-3 py-2 lg:order-1 sm:py-3 xl:pl-8 sm:pl-6 lg:pl-6 lg:pr-5 sm:pr-6 xl:w-65 lg:w-3/5">
    <input class="flex w-full h-12 px-5 text-sm bg-gray-200 bg-opacity-25 rounded-lg focus:outline-none"
    type="search" name="search" placeholder="Search"  />
  </div>
  <div class="flex justify-end order-1 w-full h-20 px-3 py-2 lg:order-2 sm:py-3 sm:pr-6 sm:pl-6 xl:pr-9 xl:w-35 lg:w-2/5 ">
    <button class="w-12 h-12 mx-2 rounded-xl icon-btn bg-primary-a">
      <svg xmlns="http://www.w3.org/2000/svg" width="17.618" height="11.75" viewBox="0 0 17.618 11.75">
        <defs>
          <style>
            .a {
              fill: #fff;
              opacity: 0.4;
            }
          </style>
        </defs>
        <path class="a"
          d="M14.265,11.477a.8.8,0,0,1,.006,1.126l-3.715,3.727H24.711a.8.8,0,0,1,0,1.591H10.556l3.721,3.727a.805.805,0,0,1-.006,1.126.792.792,0,0,1-1.12-.006L8.108,17.688h0a.893.893,0,0,1-.165-.251.759.759,0,0,1-.061-.306.8.8,0,0,1,.226-.557l5.043-5.079A.78.78,0,0,1,14.265,11.477Z"
          transform="translate(-7.882 -11.252)" />
      </svg>
    </button>
    <app-profile-button></app-profile-button>
  </div>
</div>
