<div class="flex flex-wrap w-full h-16 mt-16 md:mt-5">
  <div class="order-2 w-full px-3 py-2 lg:order-1 sm:py-3 xl:pl-8 sm:pl-6 lg:pl-6 lg:pr-5 sm:pr-6 xl:w-65 lg:w-3/5">
    <!-- <input class="flex w-full h-12 px-5 text-sm bg-gray-500 bg-opacity-25 rounded-lg focus:bg-white focus:outline-none"
    type="search" name="search" placeholder="Search"  /> -->
    <div *ngIf="!hideSearch" class="relative hidden lg:block">
      <input [formControl]="searchControl" type="text" class="flex w-full h-12 px-5 text-sm bg-gray-500 bg-opacity-25 rounded-lg focus:bg-white focus:outline-none focus:text-black" placeholder="Search...">
       <div class="absolute inset-y-0 flex items-center right-4 md:right-4 lg:right-4 ">  <span  class=" focus:outline-none focus:shadow-outline">
         <img class="h-4" src="./assets/icons/search.svg" alt="">
       </span>
      </div>
   </div>
  </div>
  <div class="flex justify-end order-1 w-full h-20 px-3 py-2 lg:order-2 sm:py-3 sm:pr-6 sm:pl-6 xl:pr-9 xl:w-35 lg:w-2/5 ">
    <button class="w-12 h-12 mx-2 rounded-xl icon-btn bg-primary-600 hover:bg-primary-400">
      <img src="../../../../../assets/icons/notification.svg" alt="">

    </button>
    <button  class="profile-btn" (click)="visitMarketplace()">
      <img class="object-cover w-5 h-5 text-sm leading-4 rounded-lg" src="../../../../../assets/icons/market-place.svg" alt=""/>
      <span class="pl-2 text-white truncate"> <p>Visit Marketplace</p></span>
    </button>
    <app-profile-button></app-profile-button>
  </div>
</div>
