.groups-container {
  @apply  h-auto border-gradient-dp-p-bg-light hover:border-gradient-tl-p-bg-light gradient-border-1 rounded-xl mb-12;
  min-height: 623px;
}

h6 {
  @apply capitalize text-3xl;
  font-weight: 400;
  font-size: 18px;
  span {
    padding-bottom: 4px;
    border-bottom: 2px solid #EFAF1E;
    font-size: 18px;
  }
}

.preview {
  @apply object-cover w-24 h-24;
}

.details-container {
  @apply bg-primary-900 border-gradient-dp-p-bg-dark  gradient-border-1 rounded-xl mb-12 px-4 py-5 mt-6 ;
  min-height: 358px;
  width: 508px;
}

.field {
  @apply relative flex justify-between w-10/12 mt-4 overflow-hidden border-2 border-gray-400 border-dashed rounded-lg;
  button{
    @apply flex items-center justify-between w-full px-4 font-bold text-gray-400 bg-primary-gray-100 ;
  }
}

.editProfileBtn {
  position: absolute;
  z-index: 1;
  left: 49%;
  top: 17%;
   opacity: 0.8;
  cursor: pointer;

}

.editCoverBtn {
  position: absolute;
  z-index: 1;
  left: 49%;
  top: 34%;
  opacity: 0.8;
  cursor: pointer;
  // display: none;
}

.limitTextHeight {
  // // height: auto;
  // overflow: hidden;
  // word-break: break-all;
  // text-overflow: ellipsis;
  // // width: 100%;
  // white-space: nowrap;


  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

