<app-admin-header [hideSearch]="true"></app-admin-header>
<div class="flex flex-col justify-start h-auto min-h-screen px-3 py-2 mb-12 sm:px-6 xl:px-8 center">
  <div class="flex items-center justify-between w-full h-12 py-px">
    <h1 class="h-auto m-0 text-2xl font-medium">Settings</h1>
  </div>
  <div class="w-full ">
    <div class="w-full mt-6 groups-container ">
      <div class="relative w-full overflow-x-auto" style="border-radius: 17px;">
        <ngx-spinner name="admin-market" [fullScreen]="false" [showSpinner]="isLoading" bdColor="#D9DBE0" size="medium"
           type="ball-scale-multiple">
          <p style="font-size: 20px; color: white">{{(creator$ | async)?.displayName}}...</p>
        </ngx-spinner>
        <div class="inline-flex m-8">
          <div class="flex" style=" width: 590px;" class="mx-2">
            <form action="" style="width: inherit;" [formGroup]="settingForm">
              <!-- <div class="flex justify-self-start">
                <div class="flex-1">
                  <span class="text-xl">Profile Picture</span><br>
                  <div class="field">
                    <button>
                      <ng-container *ngIf="!profileImage; else profileImageFileName">
                        <div class="ml-2 font-light text-gray-400">Select Profile Picture to Upload</div>
                    </ng-container>
                    <ng-template #profileImageFileName>
                      <div class="ml-2 font-light text-white">{{profileImage.name}}</div>
                    </ng-template>
                      <img src="../../../../assets/icons/Icon feather-upload.svg" class="p-4" alt="">
                    </button>
                    <input #profileFile   class="absolute block opacity-0 cursor-pointer pin-r pin-t " type="file" name=""
                    accept="image/png, image/gif, image/jpeg" (change)="onSelectProfile($event)"/>
                  </div>
                </div>
                <div class="border-4 rounded-md">
                  <ng-container *ngIf="!profileImage; else pImage">
                    <img class="preview" [src]="((creator$ | async)?.profileImageURL) || ''" alt="">

                </ng-container>
                <div *ngIf="profileImage" class="editProfileBtn" (click)="editProfileImg()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                    <g id="Group_56289" data-name="Group 56289" transform="translate(11150 -4)">
                      <circle id="Ellipse_3170" data-name="Ellipse 3170" cx="12.5" cy="12.5" r="12.5" transform="translate(-11150 4)" fill="#fff"/>
                      <path id="Icon_material-edit" data-name="Icon material-edit" d="M4.5,12.486v2.1H6.6l6.2-6.2-2.1-2.1Zm9.928-5.723a.558.558,0,0,0,0-.79L13.116,4.66a.558.558,0,0,0-.79,0L11.3,5.686l2.1,2.1Z" transform="translate(-11146.5 6.504)" fill="#6a6a6a"/>
                    </g>
                  </svg>
                </div>
                <ng-template #pImage>
                  <img class="preview" src={{profileImageSrc}} alt="">
                </ng-template>

                </div>
              </div>
              <div class="flex pt-5 justify-self-start">
                <div class="flex-1">
                  <span class="text-xl">Cover Photo</span><br>
                  <div class="field">
                    <button>
                      <ng-container *ngIf="!coverImage; else coverImageFileName">
                        <div class="ml-2 font-light text-gray-400">Select Cover Picture to Upload</div>
                    </ng-container>
                    <ng-template #coverImageFileName>
                      <div class="ml-2 font-light text-white">{{coverImage.name}}</div>
                    </ng-template>
                      <img src="../../../../assets/icons/Icon feather-upload.svg" class="p-4" alt="">
                    </button>
                    <input #coverFile class="absolute block opacity-0 cursor-pointer pin-r pin-t " type="file" name=""
                    accept="image/png, image/gif, image/jpeg" (change)="onSelectCover($event)"/>
                  </div>
                </div>
                <div class="border-4 rounded-md">
                  <ng-container *ngIf="!coverImage; else cImage">
                    <img class="preview" [src]="((creator$ | async)?.coverImageURL) || ''" alt="">

                </ng-container>
                <div *ngIf="coverImage" class="editCoverBtn" (click)="editCoverImg()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                    <g id="Group_56289" data-name="Group 56289" transform="translate(11150 -4)">
                      <circle id="Ellipse_3170" data-name="Ellipse 3170" cx="12.5" cy="12.5" r="12.5" transform="translate(-11150 4)" fill="#fff"/>
                      <path id="Icon_material-edit" data-name="Icon material-edit" d="M4.5,12.486v2.1H6.6l6.2-6.2-2.1-2.1Zm9.928-5.723a.558.558,0,0,0,0-.79L13.116,4.66a.558.558,0,0,0-.79,0L11.3,5.686l2.1,2.1Z" transform="translate(-11146.5 6.504)" fill="#6a6a6a"/>
                    </g>
                  </svg>
                </div>
                <ng-template #cImage>
                  <img class="preview" src={{coverImageSrc}} alt="">
                </ng-template>
                </div>
              </div>
              <div class="flex flex-col pt-5">
                <span class="text-xl">Description</span><br>
                <div class="relative flex flex-col justify-between overflow-hidden rounded-lg">
                  <textarea  [(ngModel)]="description"  rows="10" cols="100" maxlength="300" class="w-full h-40 p-4 font-light text-gray-400" type="textarea"
                    name="description" formControlName="description">
            </textarea>
            <p class="error-msg error" *ngIf="settingForm.controls.description.touched && settingForm.controls.description.errors?.required">please enter brief description</p>
            <p class="error-msg error" *ngIf="settingForm.controls.description.touched && settingForm.controls.description.errors?.minlength">description should be greater than or equal to {{settingForm.controls.description.errors?.minlength.requiredLength}} character </p>
          </div>
              </div> -->
              <div class="flex flex-col pt-5">
                <span class="text-xl">Stripe Key</span><br>
                <div class="relative flex flex-col justify-between overflow-hidden rounded-lg">
                  <input class="w-full h-12 font-light text-gray-400" type="text" placeholder="123456789" #input disabled [ngClass]="{'limitTextHeight': isReadMore}"
                    name="key" formControlName="key" >
                    <p class="error-msg error" *ngIf="settingForm.controls.key.touched && settingForm.controls.key.errors?.required">please enter key</p>
                  </div>

              </div>
              <div class="flex flex-row-reverse">
                <button class="flex justify-end p-2 mt-2 rounded-lg border-gradient-dp-p-bg-light gradient-border-1" (click)="input.disabled = false; showText()" type="button"><span class="mr-1">{{ isReadMore ? 'Edit ': 'Edit ' }}</span>  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25">
                  <g id="Group_56289" data-name="Group 56289" transform="translate(11150 -4)">
                    <circle id="Ellipse_3170" data-name="Ellipse 3170" cx="12.5" cy="12.5" r="12.5" transform="translate(-11150 4)" fill="#fff"/>
                    <path id="Icon_material-edit" data-name="Icon material-edit" d="M4.5,12.486v2.1H6.6l6.2-6.2-2.1-2.1Zm9.928-5.723a.558.558,0,0,0,0-.79L13.116,4.66a.558.558,0,0,0-.79,0L11.3,5.686l2.1,2.1Z" transform="translate(-11146.5 6.504)" fill="#6a6a6a"/>
                  </g>
                </svg>
              </button>

              </div>



              <!-- <button (click)="input.disabled = true" type="button">Disable</button> -->
              <!-- <div class="flex flex-row-reverse">

                <button class="py-2 mt-8 px-7 primary-btn" [disabled]="!settingForm.valid" (click)="saveSetting()">
                  Save Setting
                </button>
              </div> -->
            </form>
          </div>
          <div class="flex " style=" " class="ml-16">
            <div class="details-container " style=" ">
              <h6 class=""><span>Old De</span>tails</h6>
              <div class="top-0 left-0 realtive">
                <img *ngIf="!coverImageSrc;" class="relative top-0 left-0 object-cover w-full h-32 rounded-lg" [src]="((creator$ | async)?.coverImageURL) || ''" alt="">
                <img *ngIf="coverImageSrc;" class="relative top-0 left-0 object-cover w-full h-32 rounded-lg"  src={{coverImageSrc}} alt="">
                <div class="absolute " style=" top: 233px; width: 204px;"  >
                  <img *ngIf="!profileImageSrc;" class="inline object-cover w-12 h-12 ml-4 rounded-full border-gradient-dp-p-bg-dark gradient-border-2"
                    [src]="((creator$ | async)?.profileImageURL) || ''"
                    alt="Profile image" />
                    <img *ngIf="profileImageSrc;"  src={{profileImageSrc}} class="inline object-cover w-12 h-12 ml-4 rounded-full border-gradient-dp-p-bg-dark gradient-border-2 " alt="">
                </div>
              </div>
              <div class="mt-8">
                <span class="text-md">Description</span><br>
                <p *ngIf="!description; else desc" class="mt-2 overflow-hidden text-sm text-gray-400 break-words overflow-ellipsis">
                  {{(creator$ | async)?.description }}
                </p>
                <ng-template #desc>
                  <p class="mt-2 overflow-hidden text-sm text-gray-400 break-words overflow-ellipsis">{{description}}</p>
                </ng-template>

              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row justify-center w-full">

          <button class="py-2 mt-8 px-7 primary-btn" [disabled]="!settingForm.controls.key.dirty" (click)="saveSetting(); settingForm.controls.key.markAsPristine();">
            Save Setting
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
