<app-admin-header></app-admin-header>
<div class="flex flex-col justify-start h-auto min-h-screen px-3 py-2 mt-10 mb-12 sm:px-6 xl:px-8 center">
  <div class="flex items-center justify-between w-full h-12 py-px">
    <h1 class="h-auto m-0 text-2xl font-medium">Settings</h1>
  </div>
  <div class="w-full">
    <div class="w-full mt-6 groups-container">
      <div class="w-full overflow-x-auto">
        <div class="inline-flex m-8">
          <div class="flex" style=" width: 590px;" class="mx-2">
            <form action="" style="width: inherit;">
              <div class="flex justify-self-start">
                <div class="flex-1">
                  <span class="text-xl">Profile Picture</span><br>
                  <div class="field">
                    <button>
                      <div class="ml-2 font-light text-gray-300">Select Profile Picture to Upload</div>
                      <img src="../../../../assets/icons/Icon feather-upload.svg" class="p-4" alt="">
                    </button>
                    <input class="absolute block opacity-0 cursor-pointer pin-r pin-t " type="file" name=""
                      accept="image/*" />
                  </div>
                </div>
                <div class="border-4 rounded-md">
                  <img class="preview" src="../../../../assets/logo/stripe-logo-blue.png" alt="">
                </div>
              </div>
              <div class="flex pt-5 justify-self-start">
                <div class="flex-1">
                  <span class="text-xl">Cover Photo</span><br>
                  <div class="field">
                    <button>
                      <div class="ml-2 font-light text-gray-300">Select Cover Photo to Upload</div>
                      <img src="../../../../assets/icons/Icon feather-upload.svg" class="p-4" alt="">
                    </button>
                    <input class="absolute block opacity-0 cursor-pointer pin-r pin-t " type="file" name=""
                      accept="image/*" />
                  </div>
                </div>
                <div class="border-4 rounded-md">
                  <img class="preview" src="../../../../assets/logo/stripe-logo-blue.png" alt="">
                </div>
              </div>
              <div class="flex flex-col pt-5">
                <span class="text-xl">Description</span><br>
                <div class="relative flex flex-col justify-between overflow-hidden rounded-lg">
                  <textarea rows="10" cols="100" class="w-full h-40 p-4 font-light text-gray-300" type="textarea"
                    name="description" formControlName="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egt dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </textarea>
                </div>
              </div>
              <div class="flex flex-col pt-5">
                <span class="text-xl">Stripe Key</span><br>
                <div class="relative flex flex-col justify-between overflow-hidden rounded-lg">
                  <input class="w-full h-12 font-light text-gray-300" type="text" placeholder="123456789"
                    name="description" formControlName="description">
                  </div>
              </div>
              <div class="flex flex-row-reverse">
                <button class="py-2 mt-8 px-7 primary-btn">
                  Save Setting
                </button>
              </div>
            </form>
          </div>
          <div class="flex " style=" " class="ml-16">
            <div class="details-container" style=" ">
              <h6 class=""><span>Old De</span>tails</h6>
              <div class="top-0 left-0 realtive">
                <img class="relative top-0 left-0 object-cover w-full h-32" src="../../../../assets/banner/best-nft.png" alt="">
                <div class="absolute " style=" top: 410px;" >
                  <img class="inline object-cover w-12 h-12 ml-4 rounded-full"
                    src="https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
                    alt="Profile image" />
                </div>
              </div>
              <div class="mt-8">
                <span class="text-md">Description</span><br>
                <p class="mt-2 text-sm text-gray-400">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula egt dolor. Aenean
                  massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
