::ng-deep .create-nft-options-dialog-overlay {
  height: auto;
  min-height: 421px;
  max-width: 581px !important;
}


 .create-nft-options-model {
   @apply flex flex-col  px-0  sm:px-20;


   .btn-close {
    @apply absolute top-0 right-0 bg-white rounded-full opacity-50 m-3.5 hover:opacity-70;
    padding: 1px;
    svg {
      color: #132356;
    }
  }

  img {

  @apply h-5 w-5

  }

  h1 {
    @apply capitalize my-12 text-3xl;
    font-weight: 400;
    span {
      padding-bottom: 4px;
      border-bottom: 2px solid #75F16D;
    }
  }

  .primary-btn {
    @apply w-44 h-12  sm:my-14 self-center;
  }

  form {
    @apply flex flex-col w-full;

    label {
      @apply px-3 py-2 text-lg;
    }
 }

 }

 .focus\:ring:focus {
  box-sizing: content-box;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(136deg, #41A6FF 0%, #46F3AC 100%);
  border-image-slice: 1;

}

.focus\:ring:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) rgb(19 35 86);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);

}

label.radio {
  cursor: pointer;
}
label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
label.radio span {

  width: 384px;
  height: 56px;
  border: 2px solid #4C5880;
  background-color: #4C5880;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 8px;
  text-align: center;

}
label.radio input:checked + span {
  border-color: #6fff62;
}
