<div class="create-nft-options-model">
  <div class="flex justify-end">
    <button class="btn-close" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div class="flex items-center justify-between">
    <div class="inline-flex">
      <h1 class=""><span>Cre</span>ate NFT</h1>
    </div>
  </div>
  <form class="group-form">
    <div class="flex justify-center mt-3">
      <label class="radio ">
        <input type="radio"  disabled name="gender" class="focus:ring rounded-xl bg-primary-400 w-96 h-14" value="Membership" [(ngModel)]="type">
        <span><img class="items-center inline-block mr-2"
          src="./assets/icons/Subtraction 5.svg" alt="">  Membership</span>
      </label>
    </div>
    <div class="flex justify-center ">
      <label class="radio">
        <input  type="radio" name="gender" value="Tickets" [(ngModel)]="type">
        <span><img class="inline-block mr-2"
          src="./assets/icons/coupon.svg" alt="">  Tickets</span>
      </label>
    </div>
    <!-- <div class="flex justify-center mt-3">
      <button class="focus:ring rounded-xl bg-primary-400 w-96 h-14"><span><img class="inline-block"
            src="./assets/icons/Subtraction 5.svg" alt=""></span> Tickets</button>
    </div> -->

    <button class="primary-btn" (click)="ticketsClick(); ">
      Next
    </button>
  </form>

</div>
