<section class="px-3 pb-10 pt-14">
  <div class="flex flex-wrap object-none md:w-full flex-center md:max-w-full" style="
  border-radius: 33px;">
  <div class="md:flex-shrink-0">
    <img  src="../../../../assets/banner/best-nft.png" alt="Man looking at item at a store">
  </div>
  <!-- <img src="../../../../assets/banner/best-nft.png" alt=""> -->
  <!-- <img src="../../../../assets/banner/collection-nft.png" alt="">
  <img src="../../../../assets/banner/check-nft.png" alt=""> -->
  </div>
</section>
