<div class="items-center mt-8 text-gray-600 ">
  <div class="flex flex-col flex-wrap items-center mx-auto md:flex-row">
    <img class="flex-wrap" src="./assets/logo/logo.png" alt="Joker Card" />
  <div class="justify-center flex-grow ">
        <div class="pt-2">
          <input class="flex w-full px-5 mx-auto text-sm bg-gray-200 bg-opacity-25 rounded-lg h-11 md:w-2/3 lg:w-2/3 focus:bg-white md:h-14 lg:h-14 focus:outline-none "
            type="search" name="search" placeholder="Search  NFT..."  />
        </div>
    </div>
    <button class="inline-flex items-center justify-between px-3 py-1 mt-4 text-white bg-gray-200 bg-opacity-25 cursor-pointer w-36 rounded-xl md:mt-0 ">
      <div class="flex items-start rounded nft-img">
        <img class="w-12 h-10"
          src="./assets/card/logout-user.png"
          alt="Joker Card"
        />
      </div>
      <span class="mr-2 text-sm leading-none text-white ">John D.</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="3" height="15" viewBox="0 0 3 15">
        <g id="Group_57625" data-name="Group 57625" transform="translate(-1396 -50)" opacity="0.9" style="isolation: isolate">
          <circle id="Ellipse_1468" data-name="Ellipse 1468" cx="1.5" cy="1.5" r="1.5" transform="translate(1396 50)" fill="#fff"/>
          <circle id="Ellipse_1469" data-name="Ellipse 1469" cx="1.5" cy="1.5" r="1.5" transform="translate(1396 56)" fill="#fff"/>
          <circle id="Ellipse_1470" data-name="Ellipse 1470" cx="1.5" cy="1.5" r="1.5" transform="translate(1396 62)" fill="#fff"/>
        </g>
      </svg>
    </button>
  </div>
</div>
