<ngx-spinner
  name="main"
  bdColor="#171830"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{(creator$ | async)?.displayName}}...</p>
</ngx-spinner>
<app-layout *ngIf="(isAdminPanel$ | async) && (isLoggedIn$ | async) && (role$ | async) === roles.admin; else notAuthorized">
  <router-outlet></router-outlet>
</app-layout>

<ng-template #notAuthorized>
  <app-nav></app-nav>

  <router-outlet></router-outlet>

  <app-footer></app-footer>
</ng-template>
