<app-admin-header (search)="search($event)"></app-admin-header>

<div class="flex flex-col justify-start h-auto min-h-screen px-3 py-2 mt-10 mb-12 sm:px-6 xl:px-8 center">
  <div class="flex items-center justify-between w-full h-12 py-px">
    <h1 class="h-auto m-0 text-2xl font-medium">NFT Marketplace</h1>
    <button class="w-40 h-full primary-btn " (click)="createNFT()">
      <span class="mr-1 text-xl">+</span>  Create New
    </button>
  </div>


  <div class="w-full "  >
    <div class="mt-6 has-tooltip">
      <div class="filters">
        <div class="filter">
          <button mat-icon-button aria-label="statusMenu">
            <span><mat-icon>filter_alt</mat-icon></span>
            <span class="px-px sm:px-2">Filter</span>
          </button>
        </div>
        <div class="filter">
          <button mat-icon-button aria-label="menu" class="w-16" mat-icon-button [matMenuTriggerFor]="statusMenu" >
            <span *ngIf="!filterStatus; else showStatus">Status</span>
            <ng-template #showStatus>{{filterStatus}}</ng-template>
            <span class="material-icons">
              arrow_drop_down
              </span>
          </button>
        </div>
        <div class="filter">
          <button mat-icon-button aria-label="menu" class="w-16" [matMenuTriggerFor]="priceMenu" >
            <span *ngIf="!filterPrice; else showPrice">Price</span>
            <ng-template #showPrice>{{filterPrice}}</ng-template>
            <span class="material-icons">
              arrow_drop_down
              </span>
          </button>
        </div>
        <div class="filter">
          <button mat-icon-button aria-label="menu" class="w-16" [matMenuTriggerFor]="tokenId">
            <span *ngIf="!filterSort; else showTokenID">Token ID</span>
            <ng-template #showTokenID>{{filterSort}}</ng-template>
            <span class="material-icons">
              arrow_drop_down
              </span>
          </button>
        </div>
        <div class="filter">
          <button mat-icon-button aria-label="menu" class="w-16" [matMenuTriggerFor]="type">
            <span *ngIf="!filterType; else showType">Type</span>
            <ng-template #showType>{{filterType}}</ng-template>
            <span class="material-icons">
              arrow_drop_down
              </span>
          </button>
        </div>
        <div class="filter">
          <button (click)="resetFilters()" mat-icon-button aria-label="menu">
            <span><mat-icon>restart_alt</mat-icon></span>
            <span class="px-px sm:px-2">Reset Filter</span>
          </button>
        </div>

          <!--status menu-->
        <mat-menu #statusMenu="matMenu" class="bg-primary-600 mt-0.5 p-2 w-32 rounded-md" xPosition='after'  >
          <ng-container *ngFor="let status of nftStatus" >
            <button (click)="filterByStatus(status.name)" class="dropdown" mat-menu-item>
              {{status.name}}
            </button>
          </ng-container>
        </mat-menu>

         <!--price menu-->
        <mat-menu #priceMenu="matMenu" class="bg-primary-600 mt-0.5 p-2 w-32 rounded-md text-sm mat-menu" xPosition='after'>
          Range from
          <ng-container *ngFor="let range of priceRange">
            <button (click)="filterByPrice(range.to ? range.from + ' - ' + range.to : range.from)" class="dropdown" mat-menu-item>
              {{range.to ? '€' + range.from + ' - €' + range.to: range.from}}
            </button>
          </ng-container>
        </mat-menu>

           <!--TokenId menu-->
           <mat-menu #tokenId="matMenu" class="bg-primary-600 mt-0.5 p-2 w-32 rounded-md text-sm" xPosition='after'>
             Sort by
             <ng-container *ngFor="let item of orderBy">
              <button (click)="filterBySort(item.order)" class="dropdown" mat-menu-item>
                {{item.order}}
              </button>
            </ng-container>
          </mat-menu>

          <!--type-->
           <mat-menu #type="matMenu" class="bg-primary-600 mt-0.5 p-2 w-48 rounded-md text-sm" xPosition='after'>
            <ng-container *ngFor="let type of types">
              <button (click)="filterByType(type.type)" class="dropdown" mat-menu-item>
                {{type.type}}
              </button>
            </ng-container>
          </mat-menu>

      </div>
    </div>

    <div class="relative cards-container" style="min-height: 360px;">
      <ngx-spinner name="admin-market" [fullScreen]="false" [showSpinner]="isLoading" bdColor="#171830" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">{{(creator$ | async)?.displayName}}...</p>
      </ngx-spinner>
      <ng-container *ngIf="nftList && nftList.totalCount > 0">
        <ng-container *ngFor="let nftCard of nftList.data" class="">
          <app-nft-card [nft]="nftCard"></app-nft-card>
        </ng-container>
      </ng-container>
    </div>
    <div class="flex justify-end w-full">
      <div class="pagination">
        <button [disabled]="page < 2" class="h-8 rounded-md icon-btn w-9 bg-primary-600" (click)="previous()">
          <svg xmlns="http://www.w3.org/2000/svg" width="17.618" height="11.75" viewBox="0 0 17.618 11.75">
            <defs>
              <style>
                .a {
                  fill: #fff;
                  opacity: 0.4;
                }
              </style>
            </defs>
            <path class="a"
              d="M14.265,11.477a.8.8,0,0,1,.006,1.126l-3.715,3.727H24.711a.8.8,0,0,1,0,1.591H10.556l3.721,3.727a.805.805,0,0,1-.006,1.126.792.792,0,0,1-1.12-.006L8.108,17.688h0a.893.893,0,0,1-.165-.251.759.759,0,0,1-.061-.306.8.8,0,0,1,.226-.557l5.043-5.079A.78.78,0,0,1,14.265,11.477Z"
              transform="translate(-7.882 -11.252)" />
          </svg>

        </button>
        <ng-container *ngIf="nftList?.totalCount > limit  ; else noPage">
          <span>{{ page }} / {{ (nftList?.totalCount  / limit) + (0.4) | number:'1.0-0' }}</span>
        </ng-container>
        <ng-template #noPage >
          <span>1/1</span>
        </ng-template>

        <button [disabled]="(nftList?.totalCount / limit) <= page" class="icon-btn "  (click)="next()">
          <svg xmlns="http://www.w3.org/2000/svg" width="17.618" height="11.75" viewBox="0 0 17.618 11.75">
            <defs>
              <style>
                .a {
                  fill: #fff;
                }
              </style>
            </defs>
            <path class="a"
              d="M19.118,11.477a.8.8,0,0,0-.006,1.126l3.715,3.727H8.671a.8.8,0,0,0,0,1.591H22.826l-3.721,3.727a.805.805,0,0,0,.006,1.126.792.792,0,0,0,1.12-.006l5.043-5.079h0a.893.893,0,0,0,.165-.251.759.759,0,0,0,.061-.306.8.8,0,0,0-.226-.557l-5.043-5.079A.78.78,0,0,0,19.118,11.477Z"
              transform="translate(-7.882 -11.252)" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
