.filters {
  @apply h-16 w-full rounded-lg bg-primary-700 my-6 flex items-center flex-grow;
  max-width: 550px;
  border: 0.6px solid #FFFFFF9C;

  .filter {
    @apply flex justify-around items-center flex-grow h-full;
    border-left: 1px solid #ffffff3a;
    font-size: 9px;

    button {
      @apply flex justify-between items-center h-5;
    }

    mat-icon {
      @apply h-3 w-3 text-xs;
    }
  }

  .filter:first-child {
    border-left: none;
  }
}

.cards-container {
  @apply flex flex-wrap w-full h-auto justify-center;

  app-nft-card {
    @apply px-3;
  }
}

.pagination {
  @apply w-36 flex justify-between items-center;

  button {
    @apply h-8 w-9 rounded-md bg-primary-600;
  }

  span {
    @apply font-medium;
  }
}


.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50 ;
}

::ng-deep .mat-tooltip.tooltips {
  background-color: #32354e !important;
  font-size: 24px !important;
}



