html,
body {
  @apply h-full;
}

body {
  @apply bg-gray-100;
  @apply text-gray-800;
  @apply my-0 mx-auto;

  &.dark {
    @apply bg-primary;
    @apply text-gray-50;

    h1,h2,h3,h4,h5,h6{
      @apply text-gray-50;
    }
  }
}

.main-container {
  @apply flex flex-col  justify-between my-0 mx-auto sm:px-4 ;
  @apply md:px-8;
  @apply lg:px-10;

  max-width: 1280px;
  min-width: 340px;
}

.icon-btn {
  svg {
    @apply mx-auto;

    path {
      opacity: 0.3 !important;
      fill: white;
    }
  }
}

.icon-btn.active {
  svg {
    path {
      opacity: 1 !important;
    }
  }
}

.gradient-border {
  @apply relative  w-full bg-primary-light rounded-2xl p-3.5;
}

.gradient-border::before {
  @apply absolute rounded-2xl;
  content: '';
  top: -2px;
  left: -1px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  z-index: -2;
  background-image: linear-gradient(109deg, #59C8D1 0%, #75F16D 100%);
}

.gradient-border-filter {
  position: relative;

  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgba(49, 49, 77, var(--tw-bg-opacity));

}

.gradient-border-filter::before {
  @apply absolute rounded-2xl;
  content: '';
  top: -2px;
  left: -1px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  z-index: -2;
  background-image: linear-gradient(109deg, #59C8D1 0%, #75F16D 100%);
}

.top-nav-social-icons {
  @apply inline-block w-4 mr-1 text-gray-400 cursor-pointer fill-current hover:text-white;
}

.action-dialog {
  @apply relative flex flex-col w-full bg-primary-b rounded-none sm:rounded-3xl;
  box-shadow: 0px 12px 26px 0px #59c8d10f;

  mat-dialog-container {
    position: relative;
  }
}

input {
  @apply h-16 bg-primary-d rounded-lg text-lg focus:outline-none px-4;
}


.primary-btn {
  @apply px-5 py-1 rounded-full;
  background: transparent linear-gradient(109deg, #59C8D1 0%, #75F16D 100%) 0% 0% no-repeat padding-box;
}
