html,
body {
  @apply h-full;
}

body {
  @apply bg-white;
  @apply text-gray-800;
  @apply my-0 mx-auto;

  &.dark {
    @apply bg-primary-800;
    @apply text-gray-50;

    h1,h2,h3,h4,h5,h6{
      @apply text-gray-50;
    }
  }
}

.main-container {
  @apply flex flex-col justify-between my-0 mx-auto  w-full;
  @apply  md:pt-0;
  @apply lg:px-0 lg:pt-0;


  // old styles
  // max-width: 1280px;
  // min-width: 340px;

  // max-width: 1440px;
  // min-width: 390px;
}

.custom-container {
  @apply flex flex-col justify-between my-0 mx-auto sm:p-7 w-full  ;
  @apply md:px-8;
  @apply lg:px-0;


  max-width: 1440px;
  // min-width: 390px;
}

.center {
  @apply flex justify-center items-end;
}

.icon-btn {
  @apply justify-center items-center;
  display: flex !important;
  svg {
    @apply mx-auto;

    path {
      opacity: 0.3 !important;
      fill: #232323;

      &.dark {
        fill: white !important;
      }
    }
  }
}

.icon-btn:hover,
.icon-btn.active {
  svg {
    path {
      opacity: 1 !important;
    }
  }
}

.gradient-border {
  @apply relative  w-full bg-primary-650 rounded-2xl p-3.5;
}

.gradient-border::before {
  @apply absolute rounded-2xl;
  content: '';
  top: -2px;
  left: -1px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  z-index: -2;
  background-image: linear-gradient(109deg, #59C8D1 0%, #75F16D 100%);
}

.gradient-border-filter {
  position: relative;

  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgba(49, 49, 77, var(--tw-bg-opacity));

}

.gradient-border-filter::before {
  @apply absolute rounded-2xl;
  content: '';
  top: -2px;
  left: -1px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  z-index: -2;
  background-image: linear-gradient(109deg, #59C8D1 0%, #75F16D 100%);
}

.top-nav-social-icons {
  @apply inline-block w-5 mr-1 text-white cursor-pointer fill-current hover:text-white;
}

.action-dialog {
  @apply relative flex flex-col w-full bg-white rounded-none sm:rounded-3xl;
  box-shadow: 0px 12px 26px 0px #59c8d10f;

  &.dark {
    @apply bg-primary-500;
  }
  mat-dialog-container {
    position: relative;
  }
}

textarea,
input {
  @apply h-16 bg-primary-gray-400 rounded-lg text-lg focus:outline-none px-4 ;
}


.primary-btn {
  @apply px-5 py-1 rounded-full text-white h-12 ;
  background: transparent linear-gradient(308deg, #D59529 0%, #F1B11D 100%) 0% 0% no-repeat padding-box;
  &.dark {
    @apply text-black;
    background: transparent linear-gradient(109deg, #59C8D1 0%, #75F16D 100%) 0% 0% no-repeat padding-box;
  }
}
