html,
body {
  @apply h-full;
}

body {
  @apply bg-gray-100;
  @apply text-gray-800;
  @apply my-0 mx-auto;

  &.dark {
    @apply bg-primary;
    @apply text-gray-50;

    h1,h2,h3,h4,h5,h6{
      @apply text-gray-50;
    }
  }
}

.main-container {
  @apply flex flex-col items-center my-0 mx-auto sm:px-4 ;
  @apply md:px-8;
  @apply lg:px-10;

  max-width: 1280px;
  min-width: 340px;
}

.gradient-border {
  @apply relative  w-full bg-primary-light rounded-2xl p-3.5;
}

.gradient-border::before {
  @apply absolute rounded-2xl;
  content: '';
  top: -2px;
  left: -1px;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  z-index: -2;
  background-image: linear-gradient(109deg, #59C8D1 0%, #75F16D 100%);
}
