<div class="group-model">
  <div class="flex justify-end">
    <button class="btn-close" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <img src="./assets/logo/stripe-logo-blue.png">
  <div class="flex justify-between my-6">
    <h1><span>Ent</span>er Stripe Key</h1>
    <!-- <button class="text-sm text-green-400"><a href="https://support.stripe.com/questions/locate-api-keys-in-the-dashboard" target=_blank>Want to locate API keys in your Dashboard?</a> </button> -->
  </div>

  <button class="mb-3 text-left text-green-400 text-md"><a href="https://support.stripe.com/questions/locate-api-keys-in-the-dashboard" target=_blank>How to locate Stripe API keys in your Dashboard?</a> </button>
  <p class="mb-5 @apply text-gray-400">Users with <b>Administrator permissions</b> can access a Stripe account’s API keys by navigating to the Developers section of the Stripe dashboard and clicking on <b>API Keys</b>.</p>

  <form [formGroup]="stripeForm" class="group-form">
      <p class="mb-9">Enter stripe secret key</p>
      <input class="mb-14" type="text" formControlName="key">
      <p class="error-msg error" *ngIf="stripeForm.controls.key.touched && stripeForm.controls.key.errors?.required">please enter key</p>
      <p class="error-msg error" *ngIf="stripeForm.controls.key.touched && stripeForm.controls.key.errors?.key">please enter valid key</p>

    <button class="primary-btn" (click)="addKey()">
      Next
    </button>

  </form>
</div>
