:host {
  @apply w-full flex justify-center;
}

.main {
  @apply relative w-full max-w-7xl p-7;
}

.membership-btn{
  background: transparent linear-gradient(106deg, #79D984 0%, #EF676C 100%) 0% 0% no-repeat padding-box;
}

.tickets-btn{
  background: transparent linear-gradient(108deg, #D94E66 0%, #D48D31 100%) 0% 0% no-repeat padding-box;
}

.btn-nft {
  background: transparent linear-gradient(109deg, #59C8D1 0%, #75F16D 100%) 0% 0% no-repeat padding-box;
}


// table {
//   border-collapse:separate;
//   border-spacing: 0 16px;
//   text-align: center;
//   box-sizing: border-box


// }

.pagination-btn{
  @apply inline-flex items-center justify-center w-12 h-12 px-3 py-3 font-bold bg-gray-200 bg-opacity-25 rounded-xl;
}











