<div class="create-nft-price-model ">
  <div class="flex justify-end">
    <button class="btn-close" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div class="flex items-center justify-between">
    <div class="inline-flex">
      <h1 class=""><span>Cre</span>ate NFT</h1>
    </div>
  </div>

  <form action="" [formGroup]="createNft" >
    <div class="flex flex-col">
      <span class="text-xl">Price</span><br>
      <input type='number' name="price" formControlName="price" placeholder="999999" >
      <p class="error-msg error" *ngIf="createNft.controls.price.touched && createNft.controls.price.errors?.required">please enter price</p>
      <div *ngIf="createNft.controls['price'].hasError('max')">
        Maximum required length of price digits is 6
      </div>
    </div>

    <div class="mt-5">
      <input type="checkbox" class="h-3 mr-2" id="instantMint" name="instantMint" value="mint" >
      <label for="Instant Mint"> Instant Mint</label><br>
    </div>
    <div class="mt-3">
      <input type="checkbox" class="h-3 mr-2" id="sale" name="sale" value="sale" >
      <label for="Sale"> Sale</label><br>
    </div>
  </form>


  <!-- <button class="primary-btn" [disabled]="!price || price === 0" (click)="save()">
    Minting
  </button> -->

  <button class="primary-btn" [disabled]="!createNft.valid" (click)="save()">
    Minting
  </button>

</div>
