::ng-deep .create-nft-style-dialog-overlay {
  height: auto;
  min-height: 421px;
  max-width: 581px !important;
}


 .create-nft-price-model {
   @apply flex flex-col  px-0  sm:px-20;


   .btn-close {
    @apply absolute top-0 right-0 bg-white rounded-full opacity-50 m-3.5 hover:opacity-70;
    padding: 1px;
    svg {
      color: #132356;
    }
  }

  img {

  @apply h-5 w-5

  }

  h1 {
    @apply capitalize my-12 text-3xl;
    font-weight: 400;
    span {
      padding-bottom: 4px;
      border-bottom: 2px solid #75F16D;
    }
  }

  .primary-btn {
    @apply w-44 h-12  sm:my-14 self-center;
  }

  form {
    @apply flex flex-col w-full;

    label {
      @apply px-8 py-4 text-lg;
    }
 }

 }

 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}


.chkbox {
  width: 300px;
  margin: 25px 0;
  display: flex;
  align-items: center;
  user-select: none;
}
.chkbox label {
  font-size: 26px;
  color: #fff;
  position: absolute;
  z-index: 10;
  padding-left: 50px;
  cursor: pointer;
}
.chkbox input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.chkbox input:checked ~ .check {
  background-image: url("../../../../../assets/icons/Icon\ feather-check-square.svg");
  background-repeat: no-repeat;
background-size: 100%;
}

.chkbox .check {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../../../../../assets/icons/Icon\ feather-check-square (1).svg");
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}
.chkbox .check::after {
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  position: absolute;
  transform: scale(0);
  background-size: 50%;
  background-image: url("../../../../../assets/icons/Icon\ feather-check-square.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition-delay: 0.2s !important;
  transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}


