@import "~swiper/css";
@import "~swiper/css/scrollbar";
@import "~swiper/css/navigation";
@import "~swiper/css/pagination";

.group-img {
  @apply rounded-full shadow-lg w-14 h-14 lg:w-44 lg:h-44;
}
.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.897);
    right:10px;
    padding: 30px;
    color: rgb(255, 176, 6) !important;
    fill: black !important;
    stroke: black !important;
    font-size: 12px !important;
}

