
  <section class="mt-20 mb-20 custom-container" style="background: #ffa3000d; border-radius: 12px;">
    <div class="mx-auto text-center md:max-w-xl lg:max-w-3xl">
      <h3 class="text-lg font-semibold tracking-wide lg:text-4xl mb-9 lg:mb-14 ">Our Featured Collections</h3>
    </div>
    <swiper
    [breakpoints]="{
      '@0.00': {
        slidesPerView: 3,
        spaceBetween: 10
      },
      '@0.75': {
        slidesPerView: 2,
        spaceBetween: 20
      },
      '@1.00': {
        slidesPerView: 4,
        spaceBetween: 40
      },
      '@1.50': {
        slidesPerView: 4,
        spaceBetween: 50
      }
    }"
    [slidesPerView]="4"
    [spaceBetween]="30"
    [centeredSlides]="false"
    [navigation]="true"
    class="mySwiper slider custom-container">
  <ng-container *ngFor="let group of (groups$ | async);last as isLast">
    <ng-template swiperSlide>
      <div class="mb-12 text-center md:mb-0">
        <div class="flex justify-center mb-6">
          <img *ngIf="group.groupImageUrl;" [src]="group.groupImageUrl" class="group-img " />
        </div>
        <div class="flex justify-center mb-6">
          <img *ngIf="!group.groupImageUrl;" [src]="(creator$ | async)?.profileImageURL"  class="object-cover group-img" />
        </div>
        <h5 class="mb-4 text-xs font-medium lg:text-xl">{{group.name}}</h5>
        <p class="mx-4 mb-4 text-sm truncate">
          {{group.description}}
        </p>
      </div>

      <!-- <div class="max-w-md px-8 py-4 mx-auto mt-16 mb-16 bg-white rounded-lg shadow-md dark:bg-gray-800">
        <div class="flex justify-center -mt-16 md:justify-end">
            <img class="object-cover w-20 h-20 border-2 border-yellow-500 rounded-full dark:border-yellow-400" alt="Testimonial avatar" [src]="group.coverImageUrl">
        </div>

        <h2 class="mt-2 text-xs font-semibold text-gray-800 lg:text-xl dark:text-white md:mt-0 md:text-3xl">{{group.name}}</h2>

        <p class="mt-2 text-gray-600 truncate dark:text-gray-200">  {{group.description}}</p>


    </div> -->
    </ng-template>

  </ng-container>
  </swiper>
  </section>
