
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="profile-btn" >
  <img class="object-cover w-8 h-8 text-sm leading-4 rounded-3xl" [src]="((user$ | async)?.profilePicURL) || '../../../../../assets/profile.png'" alt=""/>
  <span class="pl-2 mr-2 truncate dark:text-white"> {{((user$ | async)?.fullName) || 'Welcome!'}}</span>
  <mat-icon class="dark:text-white" style="width: 16px">more_vert</mat-icon>

</button>
<mat-menu #menu="matMenu" class="dark:bg-primary-600 bg-primary-gray-200  mt-0.5" xPosition='before'>

  <button mat-menu-item (click)="signOut()" >
    <mat-icon class="dark:text-white">logout</mat-icon>
    logout
  </button>
  <!-- <button mat-menu-item (click)="exportKey()" >
    <mat-icon class="text-white">vpn_key</mat-icon>
    export key
  </button> -->
</mat-menu>





