
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="profile-btn">
  <img class="object-cover text-sm leading-4 rounded-lg w-14 h-9" [src]="profile?.profilePicURL" alt="Joker Card"/>
  <span class="pl-2 mr-2 text-white truncate"> {{userName?.fullName}}</span>
  <mat-icon style="width: 16px; color:white">more_vert</mat-icon>

</button>
<mat-menu #menu="matMenu" class="bg-primary-600 hover:bg-primary-400  mt-0.5" xPosition='before'>
  <button mat-menu-item (click)="signOut()" >
    <mat-icon class="text-white">logout</mat-icon>
    logout
  </button>
</mat-menu>
