.section-container{
  @apply p-2 sm:py-3 sm:px-3 ;
  min-height: 305px;

}
.section{
  @apply w-full h-full rounded-lg;
}

svg {
  path {
    opacity: 1;
  }
}

.chart-status {
  @apply relative h-full bg-white rounded-lg;
  box-shadow: rgba(4, 17, 29, 0.13) 0px 0px 10px 0px;
  background-size: auto 300px;

  &.dark {
    background: #292A4D;
  }

  .section {
    @apply absolute bottom-0 w-full h-32 flex justify-around items-center bg-white;
    .listed,
    .sold,
    .profit {
      @apply h-16 w-28 sm:w-32 mx-2 flex flex-col justify-between;
      p {
        @apply opacity-25 text-sm sm:text-base leading-5 font-bold;
        color: #1F203E;
      }
      span {
        @apply text-xl sm:text-3xl font-bold;
        color: #1F203E;
      }
    }
  }
}


h1 {
  @apply capitalize mt-6 mb-10 text-3xl text-center tracking-wider;
  font-weight: 400;
  span {
    padding-bottom: 4px;
    border-bottom: 3px solid #ffd04e;

  }


}

.status {

  .available-nft,
  .total-revenue,
  .pending-for-sale {
    @apply w-full  rounded-xl flex items-center px-7 py-8 mb-2 justify-around;
    height: 93px;
    box-shadow: rgba(4, 17, 29, 0.13) 0px 0px 10px 0px;


    .icon {
      img{
        width: 35px;
      }
    }

    .value {
      @apply w-28;

      p {
        @apply dark:text-gray-100 tracking-wider text-sm mb-2;
      }
      span {
        @apply dark:text-white font-medium text-2xl tracking-wide;
      }
    }

    .graph-icon {
      width: 93px;
    }

  }


  .available-ndct {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    &.dark{
      background: transparent linear-gradient(271deg, #DC774E 0%, #EC8559 33%, #F39B76 64%, #FFB18F 100%) 0% 0% no-repeat padding-box;
    }
  }
  .available-nft {
    background: white;
    &.dark{
    background: transparent linear-gradient(107deg, #40DDFF 0%, #14BAE3 19%, #13B1E6 69%, #11AADF 82%, #0B98C5 100%) 0% 0% no-repeat padding-box;
    }
  }

  .total-revenue {
    background: white;
    &.dark{
    background: transparent linear-gradient(107deg, #D6A1FF 0%, #BC64FF 19%, #9D33EC 69%, #8D16E8 82%, #7E09D6 100%) 0% 0% no-repeat padding-box;
    }
  }

  .pending-for-sale {
    background: white;
    &.dark{
    background: transparent linear-gradient(107deg, #53DFA4 0%, #66EFB6 19%, #3ADC99 69%, #23D98E 82%, #19D185 100%) 0% 0% no-repeat padding-box;
    }
  }
}

.cards-container {
  min-height: 500px;

  .heading-section {
    @apply flex h-auto justify-center items-center tracking-wide font-medium dark:text-white;

    .pagination {
      @apply w-20 flex justify-between items-center;

      button {
        @apply h-8 w-9 rounded-md bg-primary-600;
      }

      span {
        @apply font-medium;
      }
    }
  }

  .body-section {
    @apply py-2;

    div {
      @apply overflow-auto;

    }
  }
}

.card-border{
  @apply p-3 rounded-2xl m-4 border-gradient-dp-p-bg-light hover:border-gradient-tl-p-bg-light gradient-border-2 ;
  height: 405px;
  width: 368px;
  border: 2px solid transparent;
  box-shadow: rgba(4, 17, 29, 0.13) 0px 0px 10px 0px;
}

.btn-nft {
  background: transparent linear-gradient(109deg, #e4a617 0%, #ffb300  100%) 0% 0% no-repeat padding-box;
}

.shrink {
  transition: all .2s ease-in-out;
  }

  .shrink:hover {
  transform: scale(0.9);
  }
.nft-img {
  display: flex;

  justify-content: center;
  border-radius: 1.21rem;
  border-radius: 21px;
 }


 #fileName span {
  white-space: nowrap;
  overflow: hidden;
  display:inline-block;
}
#fileName span:first-child {
  width: 60px;
  text-overflow: ellipsis;
}
#fileName span + span {
  width: 40px;
  direction:rtl;
  text-align:right;
}


.spinner:before {
  left: 150%;
}
