<table class="m-4 spacing-table md:m-0 lg:m-0">
  <thead class="tracking-wider text-white ">
    <tr class="items-center text-center" >
      <th >Token Id</th>
      <th>Event</th>
      <th>Price</th>
      <th>From</th>
      <th>To</th>
      <th>Date Created</th>
    </tr>
  </thead>
  <tbody >
    <tr class="items-center h-24 ">
      <td  style="color: #64F3FF; " >
       976
      </td>
      <td >
        Sale
      </td>
      <td >
        € 1.77
      </td>
      <td >
       0x9f30
      </td>
      <td >
       dodos
      </td>
      <td >
       10 days ago
      </td>

    </tr>
    <tr class="items-center h-24">
      <td  style="color: #64F3FF;">
       976
      </td>
      <td >
        Sale
      </td>
      <td >
        € 1.77
      </td>
      <td >
       0x9f30
      </td>
      <td >
       dodos
      </td>
      <td >
       10 days ago
      </td>

    </tr>
    <tr class="items-center h-24">
      <td  style="color: #64F3FF;">
       976
      </td>
      <td >
        Sale
      </td>
      <td >
        € 1.77
      </td>
      <td >
       0x9f30
      </td>
      <td >
       dodos
      </td>
      <td >
       10 days ago
      </td>

    </tr>
  </tbody>


</table>
