<div class="relative w-full">
  <div class="absolute block w-full h-10 bg-primary-900 md:hidden" [ngClass]="sidenav.opened ? 'z-0' : 'z-10'">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
</div>

  <mat-sidenav-container class="h-screen overflow-auto">
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <div class="flex flex-col items-center justify-start h-full">

        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

        <ul class="flex flex-col items-center h-full list-none">
          <li class="relative inline-block">
            <a class="menu-link icon-btn op" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="[clubName,adminRouteUrl.root]">
              <mat-icon svgIcon="admin-dashboard"></mat-icon>
            </a>
          </li>
          <li class="relative inline-block">
            <a class="menu-link icon-btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="[clubName,adminRouteUrl.root,adminRouteUrl.marketplace]">
              <mat-icon svgIcon="market-place"></mat-icon>
            </a>
          </li>
          <li class="relative inline-block">
            <a class="menu-link icon-btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="[clubName,adminRouteUrl.root,adminRouteUrl.sale]">
              <mat-icon svgIcon="sale-icon"></mat-icon>
            </a>
          </li>
          <li class="relative inline-block">
            <a class="menu-link icon-btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="[clubName,adminRouteUrl.root,adminRouteUrl.groups]">
              <mat-icon>group_work</mat-icon>
            </a>
          </li>
          <!-- <li class="relative inline-block">
            <a class="menu-link icon-btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['/']">
              <mat-icon>settings</mat-icon>

            </a>
          </li> -->

          <li class="relative flex items-end flex-grow">
            <button class="flex mt-auto menu-link" (click)="onClickSignOut()">
              <mat-icon>logout</mat-icon>
            </button>
          </li>
        </ul>


      </div>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main">
        <app-admin-header></app-admin-header>
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
