<div class="relative w-full">
  <div class="absolute block w-full h-10 bg-primary-900 md:hidden" [ngClass]="sidenav.opened ? 'z-0' : 'z-10'">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
</div>

  <mat-sidenav-container class="h-screen overflow-auto">
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <div class="flex flex-col items-center justify-start h-full">

        <img [routerLink]="[clubName,adminRouteUrl.root]" style="max-height: 42px; max-width: 42px;" class="object-scale-down cursor-pointer avatar mat-elevation-z8 rounded-xl" [src]="(creator$ | async)?.profileImageURL" />

        <ul class="flex flex-col items-center h-full mt-8 list-none">
          <li class="relative inline-block">
            <a class="menu-link icon-btn op" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="[clubName,adminRouteUrl.root]">
              <mat-icon><img src="../../../../assets/icons/admin-dashboard.svg" alt=""></mat-icon>
            </a>
          </li>
          <li class="relative inline-block">
            <a class="menu-link icon-btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="[clubName,adminRouteUrl.root,adminRouteUrl.marketplace]">
              <mat-icon><img src="../../../../assets/icons/market-place.svg" alt=""></mat-icon>
            </a>
          </li>
          <li class="relative inline-block">
            <a class="menu-link icon-btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="[clubName,adminRouteUrl.root,adminRouteUrl.sale]">
              <mat-icon><img src="../../../../assets/icons/sale.svg" alt=""></mat-icon>
            </a>
          </li>
          <li class="relative inline-block">
            <a class="menu-link icon-btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="[clubName,adminRouteUrl.root,adminRouteUrl.groups]">
              <mat-icon><img src="../../../../assets/icons/group.svg" alt=""></mat-icon>
            </a>
          </li>
          <!-- <li class="relative inline-block">
            <a class="menu-link icon-btn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="[clubName,adminRouteUrl.root,adminRouteUrl.setting]">
              <mat-icon><img src="../../../../assets/icons/setting.svg" alt=""></mat-icon>
            </a>
          </li> -->

          <li class="relative flex items-end flex-grow">
            <button class="flex mt-auto menu-link" (click)="onClickSignOut()">
              <mat-icon><img src="../../../../assets/icons/logout.svg" alt=""></mat-icon>
            </button>
          </li>
        </ul>


      </div>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
