:host {
  @apply w-full flex justify-center;
}

// .main-bg {
//   background: url('/assets/bg-img.png');
//   background-repeat: no-repeat;
//     background-position-x: 0;
//     background-position-y: 100px;
//     background-size: 100% 100%;
// }


.main {
  @apply relative w-full;
  max-width: 1440px;
  margin: 0 auto;
}

mat-sidenav {
  @apply absolute top-0 left-0 min-h-screen flex flex-col justify-center items-center rounded-r-2xl rounded-l-none text-white pt-8 pb-5;
  width: 120px;
  background: #fff;
  box-shadow: rgba(4, 17, 29, 0.13) 0px 0px 10px 0px !important;

  &.dark {
    background: #2F3157;
  }


  .menu-link {
    @apply block p-3 h-12 w-12 my-2 mx-5 rounded-xl;

    .mat-icon {
      @apply h-5 w-5 z-10;
      color: #90929f;
    }
  }

  .menu-link:hover{
    background-color: #ffffff0f;

    .mat-icon:hover {
      color: rgb(0, 0, 0) !important;
    }
  }

  .menu-link.active::before {
    @apply absolute top-0 w-1.5 h-12 my-2 ;
    background-color: black;
    &.dark {
      background-color: #00CB75;
    }
    content: "";
    left: -16px;
    border-radius: 0 10px 10px 0;
  }

  .menu-link.active {
    background-color: #e2a10a ;

    &.dark {
      background-color: #ffffff0f;
    }

     .mat-icon {
      color: #232323 !important;

      &.dark {
        color: white !important;
      }
    }
  }
}

@media(min-width:1500px) {
  .main-bg {
    // background-size: calc(100% - 32px) 100%;
  }
}
