.filters {
  @apply h-16 w-full text-white rounded-lg my-6 flex items-center flex-grow;
  max-width: 550px;
  border: 0.6px solid #ffffff;

  background: #D3982F 0% 0% no-repeat padding-box;
  &.dark {
    @apply bg-primary-700 text-black;
  }

  .filter {
    @apply flex justify-around items-center flex-grow h-full;
    border-left: 1px solid #ffffff3a;
    font-size: 9px;

    button {
      @apply flex justify-between items-center h-5;
    }

    mat-icon {
      @apply h-3 w-3 text-xs;
    }
  }

  .filter:first-child {
    border-left: none;
  }
}

.groups-container {
   @apply dark:bg-primary-700 h-auto border-gradient-dp-p-bg-light hover:border-gradient-tl-p-bg-light gradient-border-1 rounded-xl mb-12;

   min-height: 400px;
   table {
    @apply dark:bg-primary-700 rounded-3xl
  }
   th {
     @apply px-10 h-12 text-left font-medium;
   }

   th:last-child {
    @apply text-center;
   }

   tbody {
     @apply overflow-auto ;
     height: 420px;
     tr {
       @apply h-20;
       border-top: 1px solid #aaaaaa2a;

      td {
        @apply px-10;
      }

      td:last-child {
        @apply text-center;
       }
     }
   }
 }

.pagination {
  @apply w-36 flex justify-between items-center;

  button {
    @apply h-8 w-9 rounded-md bg-primary-gray-600 dark:bg-primary-600;
  }

  span {
    @apply font-medium;
  }
}


.coming-soon {
  position: absolute;
  right: 32%;
  top: 40%;
  font-size: 90px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 640px) {
  .coming-soon {
    font-size: 24px !important;

  }
}

.dropdown{
  @apply my-1 rounded-md border-gradient-dp-p-bg-light hover:border-gradient-tl-p-bg-light gradient-border-1 text-center;
}


.sold {
  @apply bg-red-500;
}

.minted{
  @apply bg-gray-300;
}

.active {
  @apply bg-green-500;
}
