::ng-deep .user-sign-up-dialog-overlay {
  height: auto;
  min-height: 596px;
  max-width: 631px !important;
}

 .sign-up-model {
   @apply flex flex-col items-center px-0  sm:px-20;

   .btn-close {
    @apply absolute top-0 right-0 bg-white rounded-full opacity-50 m-3.5 hover:opacity-70;
    padding: 1px;
    svg {
      color: #132356;
    }
  }

  .logo {
    @apply object-scale-down mt-6 sm:mt-6 md:mt-2;
    // width: 410px;
    height: 90px;
  }

  h1 {
    @apply capitalize my-5 text-3xl;
    font-weight: 400;
    span {
      padding-bottom: 4px;
      border-bottom: 2px solid #75F16D;
    }
  }

  form {
    @apply flex flex-col w-full;

    p{
      @apply text-red-400
    }

    label {
      @apply px-3 py-4 text-lg;
    }

    input {
      @apply px-9;
    }

    .signup {
      @apply w-72 h-16 my-10 sm:my-3 self-center;
    }

  }

 }


.field {
  @apply relative flex justify-between w-10/12 mt-4 overflow-hidden border-2 border-gray-400 border-dashed rounded-lg;
  button{
    @apply flex items-center justify-between w-full px-4 font-bold text-gray-400 bg-primary-gray-100 ;
  }
}

.preview {
  @apply object-cover w-24 h-24;
}

// .choose {
//   @apply m-0 p-0
// }
