::ng-deep .admin-sign-in-dialog-overlay {
  @apply bg-white text-gray-900 rounded-3xl;
  height: auto;
  min-height: 637px;
  max-width: 512px !important;
}

 .sign-in-model {
   @apply flex flex-col items-center px-0  sm:px-12 h-full;

   .btn-close {
    @apply absolute top-0 right-0 bg-white rounded-full opacity-50 m-3.5 hover:opacity-70;
    padding: 1px;
    svg {
      color: #132356;
    }
  }

  .logo {
    @apply object-scale-down mt-6 sm:mt-6 md:mt-12 h-16;
    width: 304;
  }

  h1 {
    @apply capitalize my-12 text-3xl;
    font-weight: 400;
    span {
      padding-bottom: 4px;
      border-bottom: 2px solid #75F16D;
    }
  }

  form {
    @apply flex flex-col w-full;
    p{
      @apply text-red-400;
    }

    label {
      @apply py-4 text-lg;
    }

    input {
      @apply h-12 px-9 bg-white border-t border-b border-l border-r border-gray-900;
    }

    button {
      @apply w-full h-12 my-10 sm:my-14 self-center text-white font-medium uppercase tracking-widest;
      background: transparent linear-gradient(97deg, #3BC0F2 0%, #31D491 100%) 0% 0% no-repeat padding-box;
      box-shadow: 8px 9px 22px #3AC2E94A;
    }

  }

 }

 .language-container {
   @apply flex justify-center items-center my-10;
   font-size: 13px;
   select {
     @apply w-36 h-9 px-2 flex justify-center items-center text-white rounded-3xl font-light  align-middle text-center;
     background: #31D491 0% 0% no-repeat padding-box;
    }
    option{
      @apply mx-auto flex justify-center;
    }

   mat-icon {
     @apply h-3 w-3 text-xs;
   }

   span {
     padding: 0 6px;
   }
 }
