<div class="parent">
  <mat-sidenav-container>
    <mat-toolbar [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
      <div fxShow fxHide.xs="false" fxHide.sm="false" fxHide.lg="true" fxHide.xl="true" fxHide.md="false"
        class="flex justify-between md:w-full mt-3">
        <div class="block w-full h-10 md:w-0" [ngClass]="sidenav.opened ? 'z-0' : 'z-10'">
          <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
              menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened" style="z-index: 1200;">
              close
            </mat-icon>

          </button>
        </div>
        <div class="justify-center flex-grow ml-4 " #searchBar>
          <button *ngIf="!searchHide" class="flex " (click)="showSearch()">
            <span class="material-icons md:ml-4">search</span>
          </button>
          <div *ngIf="searchHide" class="flex flex-row ">
            <input type="text" [formControl]="searchControl"
              class="flex h-8 mx-auto text-sm bg-gray-500 bg-opacity-25 rounded-full md:w-2/3 lg:w-2/3 md:h-9 lg:h-9 focus:outline-none"
              placeholder="Search NFT...">
            <button class="flex items-center" (click)="hideSearch()">
              <span class="material-icons">close</span>
            </button>
          </div>
        </div>
      </div>
      <a mat-button class="flex justify-end">
        <img (click)="gotoHome()"
          class="absolute right-0 flex-wrap object-cover object-scale-down h-12 mt-4 cursor-pointer lg:relative bottom-2 max-h-16 lg:w-auto md:w-auto lg:max-h-16 mr-2 md:w-42 lg:w-42 rounded-xl"
          [src]="(creator$ | async)?.profileImageURL" alt="" />
      </a>
      <span class="example-spacer"></span>
      <div class="flex-grow block w-full lg:flex lg:items-center lg:w-auto" fxShow fxHide.xs="true" fxHide.sm="true"
        fxHide.md="true" fxHide.lg="false" fxHide.xl="false">
        <div class="justify-center flex-grow ml-12" #searchBar>
          <div>
            <input type="text" [formControl]="searchControl"
              class="flex w-full h-8 mx-auto text-sm bg-gray-500 bg-opacity-25 rounded-full md:w-2/3 lg:w-full md:h-14 lg:h-9 focus:outline-none"
              placeholder="Search NFT...">
          </div>
        </div>
        <div class="flex flex-row-reverse items-center text-sm lg:flex-grow">
          <a *ngIf="isLoggedIn$ | async" class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/',clubName,routeUrl.config.base.tradingHistory]">
            Trading History
          </a>
          <a *ngIf="isLoggedIn$ | async" class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/',clubName,routeUrl.config.base.wallet]">
            Wallet
          </a>
          <a class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName]">
            Marketplace
          </a>
        </div>
        <div class="flex items-center justify-center text-sm" *ngIf="isLoggedIn$ | async; else signIn">
          <ng-container *ngIf="(user$ | async)?.admin">
            <a (click)="visitDashboard()"
              class="block mt-4 mr-4 font-medium cursor-pointer menu-link lg:inline-block lg:mt-0">
              Dashboard
            </a>
            <a (click)="createNFT()"
              class="inline-block nft-btn w-28 primary-btn h-10 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer">
              Mint NFT
            </a>
          </ng-container>
          <app-profile-button></app-profile-button>
        </div>
        <ng-template #signIn>
          <button (click)="login()"
            class="w-32 primary-btn h-10 p-1.5 text-base rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer">Login
          </button>
        </ng-template>
      </div>
    </mat-toolbar>


    <mat-sidenav #sidenav="matSidenav" position="end" style="position: fixed;">
      <div fxLayout="column" class="mt-28">
        <div class="flex flex-col justify-start h-full m-14">
          <div class="flex flex-col items-start overflow-hidden text-sm lg:flex-grow">
            <a (click)="sidenav.toggle()" mat-list-item style="position: absolute;
            right: 0;
            top: 14px;">
              <mat-icon class="text-dark">close</mat-icon>
            </a>
            <a class="flex mt-4 mb-5 font-medium text-dark" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName]">
              <mat-icon class="mr-12 text-gray-600">add_shopping_cart</mat-icon>
              Marketplace
            </a>
            <a *ngIf="isLoggedIn$ | async" class="flex mt-4 mr-4 font-medium text-dark" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.wallet]">
              <mat-icon class="mr-12 text-gray-600">account_balance_wallet</mat-icon>
              Wallet
            </a>
            <a *ngIf="isLoggedIn$ | async" class="flex mt-4 mr-4 font-medium text-dark" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['/',clubName,routeUrl.config.base.tradingHistory]">
              <mat-icon class="mr-12 text-gray-600">history</mat-icon>
              Trading History
            </a>
          </div>
          <div class="flex flex-col items-start overflow-hidden text-sm lg:flex-grow"
            *ngIf="isLoggedIn$ | async; else signIn">
            <ng-container *ngIf="(user$ | async)?.admin">
              <a (click)="visitDashboard()" class="flex mt-4 font-medium text-dark">
                <mat-icon class="mr-12 text-gray-600">home</mat-icon>
                Dashboard
              </a>
              <a (click)="createNFT()" class="flex mt-4 font-medium text-dark mb-7">
                <mat-icon class="mr-12 text-gray-600">note_add</mat-icon>
                Mint NFT
              </a>
              <app-profile-button class=""></app-profile-button>
            </ng-container>
          </div>
          <ng-template #signIn>
            <button (click)="login()"
              class="w-32 primary-btn h-12 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer">Login
            </button>
          </ng-template>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
