<!--old nav-->
<!-- <div class="items-center p-4 mt-0 text-gray-600 md:mt-8 lg:mt-8 md:p-0 lg:p-0">
  <div class="relative flex flex-col flex-wrap mx-auto md:items-center lg:items-center md:flex-row">
    <img (click)="gotoHome()"  class="flex-wrap object-scale-down w-auto cursor-pointer max-h-16 lg:w-auto md:w-auto lg:max-h-16 mg:max-h-16 w-36 md:w-42 lg:w-42 sm:rounded-xl" [src]="(creator$ | async)?.profileImageURL" alt="" />
    <div class="test-net top-12 md:left-16 md:top-12" *ngIf="testNet"><p> Testnets</p></div>
     <div class="justify-center flex-grow ">
    <div class="pt-2">
        <div class="relative ml-20">
         <input type="text" [formControl]="searchControl" class="flex w-full h-10 px-5 mx-auto text-sm bg-gray-400 bg-opacity-25 rounded-full md:w-2/3 lg:w-full md:h-14 lg:h-14 focus:outline-none" placeholder="Search NFT...">
      </div>
    </div>
    </div>
    <div class="flex items-center justify-end flex-grow bg-opacity-0 shadow-none hidde bg-blueGray-800">
      <ul class="flex flex-row items-center list-none lg:ml-auto">
        <li class="relative inline-block">
          <a class="font-medium menu-link op" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName]">
            MarketPlace
          </a>
        </li>
        <li class="relative inline-block" *ngIf="isLoggedIn$ | async">
          <a class="font-medium menu-link " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.wallet]">
            Wallet
          </a>
        </li>
        <li class="relative inline-block" *ngIf="isLoggedIn$ | async">
          <a class="font-medium menu-link " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.tradingHistory]">
            trading History
          </a>
        </li>
        <li class="relative contents" *ngIf="isLoggedIn$ | async; else signIn">
           <ng-container *ngIf="(user$ | async)?.admin">
            <a (click)="visitDashboard()"  class="font-medium cursor-pointer menu-link" >
              Dashboard
            </a>
            <a  (click)="createNFT()"  class="nft-btn w-32 primary-btn h-12 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer" >
             + Mint NFT
            </a>
            <app-profile-button class=""></app-profile-button>
           </ng-container>
          </li>
        </ul>

    </div>
    <ng-template #signIn>
      <button (click)="login()"   class="w-32 primary-btn h-12 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer">Login
      </button>
  </ng-template>
 </div>
</div> -->


<!--new nav-->
<!-- <nav class="flex flex-wrap items-center justify-between px-4 mt-0 mb-6" style="box-shadow: rgba(4, 17, 29, 0.151) 0px 0px 10px 0px;">

  <div class="sticky top-0 z-50 flex items-center mr-6 text-white flex-no-shrink">
    <img (click)="gotoHome()"  class="flex-wrap object-scale-down w-auto cursor-pointer max-h-16 lg:w-auto md:w-auto lg:max-h-16 mg:max-h-16 w-36 md:w-42 lg:w-42 sm:rounded-xl" [src]="(creator$ | async)?.profileImageURL" alt="" />
    <div class="test-net top-12 md:left-16 md:top-12" *ngIf="testNet"><p> Testnets</p></div>
  </div>

  <div class="justify-center flex-grow ">
    <div class="pt-2">
        <div class="relative mt-4 mb-4 ml-20">
         <input type="text" [formControl]="searchControl" class="flex w-full h-10 px-5 mx-auto text-sm bg-gray-400 bg-opacity-25 rounded-full md:w-2/3 lg:w-full md:h-14 lg:h-14 focus:outline-none" placeholder="Search NFT...">
      </div>
    </div>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
      <svg class="w-3 h-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="flex-grow block w-full lg:flex lg:items-center lg:w-auto">
    <div class="flex flex-row-reverse items-center text-sm lg:flex-grow">
      <a *ngIf="isLoggedIn$ | async" class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.tradingHistory]">
        Trading History
      </a>
      <a *ngIf="isLoggedIn$ | async" class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.wallet]">
        Wallet
      </a>
      <a class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName]">
        MarketPlace
      </a>
    </div>
    <div class="flex items-center justify-center" *ngIf="isLoggedIn$ | async; else signIn">
      <ng-container *ngIf="(user$ | async)?.admin">
        <a (click)="visitDashboard()"  class="block inline-block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" >
          Dashboard
        </a>
        <a  (click)="createNFT()"  class="inline-block nft-btn w-32 primary-btn h-12 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer" >
         + Mint NFT
        </a>
        <app-profile-button class=""></app-profile-button>

      </ng-container>

    </div>

    <ng-template #signIn>
      <button (click)="login()"   class="w-32 primary-btn h-12 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer">Login
      </button>
  </ng-template>
  </div>
</nav>  -->


<div class="parent">

  <mat-sidenav-container>
    <mat-toolbar [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
      <div fxShow="true" fxHide.gt-sm="true" class="flex justify-between">
        <div class="block w-full h-10 lg:absolute dark:bg-primary-900 md:hidden" [ngClass]="sidenav.opened ? 'z-0' : 'z-10'">
          <button mat-icon-button *ngIf="sidenav.mode === 'over'"
            (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
              menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened" style="z-index: 1200;">
              close
            </mat-icon>

          </button>
          <button (click)="sidenav.toggle()" mat-icon-button *ngIf="sidenav.mode === 'over'">
            <mat-icon style="z-index: 1200;">search</mat-icon>

          </button>

        </div>
      </div>

      <a mat-button class="flex justify-end">
        <img (click)="gotoHome()"  class="absolute right-0 flex-wrap object-scale-down w-20 h-20 mt-2 cursor-pointer lg:relative bottom-2 max-h-16 lg:w-auto md:w-auto lg:max-h-16 mg:max-h-16 md:w-42 lg:w-42 sm:rounded-xl" [src]="(creator$ | async)?.profileImageURL" alt="" />
      </a>
      <span class="example-spacer"></span>
      <div class="flex-grow block w-full lg:flex lg:items-center lg:w-auto" fxHide.lt-md="true">
        <div class="justify-center flex-grow ml-16" #searchBar>
          <div >
              <div class="relative mt-4 mb-4">
               <input type="text" [formControl]="searchControl" class="flex w-full h-8 mx-auto text-sm bg-gray-500 bg-opacity-25 rounded-full md:w-2/3 lg:w-full md:h-14 lg:h-9 focus:outline-none" placeholder="Search NFT...">
            </div>
          </div>
        </div>
        <div class="flex flex-row-reverse items-center text-sm lg:flex-grow">
          <a *ngIf="isLoggedIn$ | async" class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.tradingHistory]">
            Trading History
          </a>
          <a *ngIf="isLoggedIn$ | async" class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.wallet]">
            Wallet
          </a>
          <a class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName]">
            Marketplace
          </a>
        </div>
        <div class="flex items-center justify-center text-sm" *ngIf="isLoggedIn$ | async; else signIn">
          <ng-container *ngIf="(user$ | async)?.admin">
            <a (click)="visitDashboard()"  class="block mt-4 mr-4 font-medium cursor-pointer menu-link lg:inline-block lg:mt-0" >
              Dashboard
            </a>
            <a  (click)="createNFT()"  class="inline-block nft-btn w-28 primary-btn h-10 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer" >
              Mint NFT
            </a>
            <app-profile-button></app-profile-button>

          </ng-container>

        </div>

        <ng-template #signIn>
          <button (click)="login()"   class="w-32 primary-btn h-10 p-1.5 text-base rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer">Login
          </button>
      </ng-template>
      </div>

    </mat-toolbar>


    <mat-sidenav #sidenav="matSidenav" position="end" style="position: fixed;" >
      <div fxLayout="column" class="mt-28">
        <div class="flex flex-col justify-start h-full m-14">
          <div class="flex flex-col items-start overflow-hidden text-sm lg:flex-grow">
            <a  (click)="sidenav.toggle()" mat-list-item style="position: absolute;
            right: 0;
            top: 14px;">
              <mat-icon class="text-dark">close</mat-icon>
            </a>
            <a class="flex mt-4 font-medium text-dark" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName]">

              <mat-icon class="mr-12 text-gray-600">add_shopping_cart</mat-icon>

              Marketplace
            </a>
            <a *ngIf="isLoggedIn$ | async" class="flex mt-4 mr-4 font-medium text-dark" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.wallet]">
              <mat-icon class="mr-12 text-gray-600">account_balance_wallet</mat-icon>
              Wallet
            </a>
            <a *ngIf="isLoggedIn$ | async" class="flex mt-4 mr-4 font-medium text-dark" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.tradingHistory]">
              <mat-icon class="mr-12 text-gray-600">history</mat-icon>
              Trading History
            </a>




          </div>
          <div class="flex flex-col items-start overflow-hidden text-sm lg:flex-grow" *ngIf="isLoggedIn$ | async; else signIn">
            <ng-container *ngIf="(user$ | async)?.admin">
              <a (click)="visitDashboard()"  class="flex mt-4 font-medium text-dark">
                <mat-icon  class="mr-12 text-gray-600">home</mat-icon>
                Dashboard
              </a>
              <a (click)="createNFT()"  class="flex mt-4 font-medium text-dark mb-7">
                <mat-icon class="mr-12 text-gray-600">note_add</mat-icon>
               Mint NFT
              </a>
              <app-profile-button class=""></app-profile-button>


            </ng-container>

          </div>

          <ng-template #signIn>
            <button (click)="login()"   class="w-32 primary-btn h-12 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer">Login
            </button>
        </ng-template>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>

<!-- <nav class="flex flex-wrap items-center justify-between px-4 mt-0 mb-6" style="box-shadow: rgba(4, 17, 29, 0.151) 0px 0px 10px 0px;">
  <mat-sidenav-container fullscreen>

    <mat-toolbar>
      <div fxShow="true" fxHide.gt-sm="true" class="navbar">
        <div class="absolute block w-full h-10 dark:bg-primary-900 md:hidden" [ngClass]="sidenav.opened ? 'z-0' : 'z-10'">
          <button mat-icon-button *ngIf="sidenav.mode === 'over'"
            (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
              menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
              close
            </mat-icon>
          </button>
        </div>
      </div>

      <a mat-button >
        <img (click)="gotoHome()"  class="flex-wrap object-scale-down cursor-pointer max-h-16 lg:w-auto md:w-auto lg:max-h-16 mg:max-h-16 w-36 md:w-42 lg:w-42 sm:rounded-xl" [src]="(creator$ | async)?.profileImageURL" alt="" />
      </a>
      <span class="example-spacer"></span>
      <div class="flex-grow block w-full lg:flex lg:items-center lg:w-auto" fxHide.lt-md="true">
        <div class="flex flex-row-reverse items-center text-sm lg:flex-grow">
          <a *ngIf="isLoggedIn$ | async" class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.tradingHistory]">
            Trading History
          </a>
          <a *ngIf="isLoggedIn$ | async" class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.wallet]">
            Wallet
          </a>
          <a class="block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName]">
            MarketPlace
          </a>
        </div>
        <div class="flex items-center justify-center" *ngIf="isLoggedIn$ | async; else signIn">
          <ng-container *ngIf="(user$ | async)?.admin">
            <a (click)="visitDashboard()"  class="block inline-block mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" >
              Dashboard
            </a>
            <a  (click)="createNFT()"  class="inline-block nft-btn w-32 primary-btn h-12 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer" >
             + Mint NFT
            </a>
            <app-profile-button class=""></app-profile-button>

          </ng-container>

        </div>

        <ng-template #signIn>
          <button (click)="login()"   class="w-32 primary-btn h-12 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer">Login
          </button>
      </ng-template>
      </div>

    </mat-toolbar>

    <mat-sidenav #sidenav="matSidenav" role="navigation" class="mat-elevation-z8">
      <div fxLayout="column">
        <div class="flex flex-col items-center justify-start h-full">
          <div class="flex flex-col items-center text-sm lg:flex-grow">
            <a *ngIf="isLoggedIn$ | async" class="mt-4 mr-4 font-medium lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.tradingHistory]">
              Trading History
            </a>
            <a *ngIf="isLoggedIn$ | async" class="mt-4 mr-4 font-medium lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName,routeUrl.config.base.wallet]">
              Wallet
            </a>
            <a class="mt-4 mr-4 font-medium lg:mt-0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/',clubName]">
              MarketPlace
            </a>
          </div>
          <div class="flex flex-col items-center justify-center" *ngIf="isLoggedIn$ | async; else signIn">
            <ng-container *ngIf="(user$ | async)?.admin">
              <a (click)="visitDashboard()"  class="mt-4 mr-4 font-medium menu-link lg:inline-block lg:mt-0" >
                Dashboard
              </a>
              <a  (click)="createNFT()"  class="nft-btn w-32 primary-btn h-12 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer" >
               + Mint NFT
              </a>
              <app-profile-button class=""></app-profile-button>

            </ng-container>

          </div>

          <ng-template #signIn>
            <button (click)="login()"   class="w-32 primary-btn h-12 p-1.5 rounded-3xl mr-2 flex items-center font-normal justify-center cursor-pointer">Login
            </button>
        </ng-template>
        </div>
      </div>
    </mat-sidenav>


  </mat-sidenav-container>
</nav> -->


