<div class="items-center p-4 mt-0 text-gray-600 md:mt-8 lg:mt-8 md:p-0 lg:p-0">
  <div class="flex flex-col flex-wrap mx-auto md:items-center lg:items-center md:flex-row">
    <img style="max-height: 64px;" class="object-scale-down flex-wrap w-36 md:w-42 lg:w-42" [src]="(creator$ | async)?.profileImageURL" alt="" />
  <div class="justify-center flex-grow ">
    <div class="pt-2">
        <div class="relative">
         <input type="text" [formControl]="searchControl" class="flex w-full px-5 mx-auto text-sm bg-gray-500 bg-opacity-25 rounded-lg h-11 md:w-2/3 lg:w-2/3 focus:bg-white md:h-14 lg:h-14 focus:outline-none" placeholder="Search NFT...">
          <div class="absolute inset-y-0 right-0 flex items-center justify-center mr-2 md:inset-y-0 lg:inset-y-0 md:right-40 lg:right-40">  <span>
            <img  src="./assets/icons/search.svg" alt="">
          </span>
         </div>
      </div>
    </div>
    </div>
    <app-profile-button *ngIf="isLoggedIn$ |async; else signIn">
    </app-profile-button>
    <ng-template #signIn>
      <button (click)="login()"  style="background-color: #00CB75;" class="items-center justify-between w-20 p-1 mt-4 text-white md:p-3 lg:p-3 md:w-36 lg:w-36 rounded-xl focus:outline-none md:mt-0">Login
      </button>
  </ng-template>
  </div>
</div>
