<div class="sign-in-model">
  <div class="flex justify-end">
    <button class="btn-close" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <img src="./assets/logo/logo.png">
  <h1 class=""><span>Sig</span>n in</h1>
  <form  [formGroup]="loginForm" class="sign-in-form">
      <label for="email">email</label>
      <input type="email" formControlName="email">
      <p class="error-msg error" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">please enter email address</p>
      <p class="error-msg error" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">please enter valid email address</p>

      <label class="floating-label" for="password">password</label>
      <input type="{{passwordHide ? 'password' : 'text'}}" formControlName="password">
      <span class="icon password-hide-icon"></span>
      <p class="error-msg error" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">please enter password</p>
      <p class="error-msg error" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.minlength">password length should be greater than 5</p>


    <button class="primary-btn" (click)="signInClick()">
      Sign in
    </button>

  </form>
</div>
