::ng-deep .user-sign-in-dialog-overlay {
  height: auto;
  min-height: 722px;
  max-width: 631px !important;
}

 .sign-in-model {
   @apply flex flex-col items-center px-0  sm:px-20;

   .btn-close {
    @apply absolute top-0 right-0 bg-white rounded-full opacity-50 m-3.5 hover:opacity-70;
    padding: 1px;
    svg {
      color: #132356;
    }
  }

  .logo {
    @apply object-scale-down mt-6 sm:mt-6 md:mt-12;
    // width: 410px;
    height: 90px;
  }

  h1 {
    @apply capitalize my-12 text-3xl;
    font-weight: 400;
    span {
      padding-bottom: 4px;
      border-bottom: 2px solid #75F16D;
    }
  }

  form {
    @apply flex flex-col w-full;

    p{
      @apply text-red-400
    }

    label {
      @apply px-3 py-4 text-lg;
    }

    input {
      @apply px-9;
    }

    button {
      @apply w-72 h-16 my-10 sm:my-14 self-center;
    }

  }

 }
