<div class="sign-in-model" style="display: none;">
  <div class="flex justify-end">
    <button class="btn-close" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <img style="max-height: 90px;" class="object-scale-down logo rounded-xl" [src]="(creator$ | async)?.profileImageURL">
  <h1 class=""><span>Sig</span>n in</h1>
  <form  [formGroup]="loginForm" class="sign-in-form">
      <label for="email" class="font-normal">Email</label>
      <input type="email" formControlName="email">
      <p class="error-msg error" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">please enter email address</p>
      <p class="error-msg error" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">please enter valid email address</p>

      <label class="font-normal floating-label" for="password">Password</label>

      <div class="relative w-full text-gray-600 focus-within:text-white">
        <span class="absolute inset-y-0 right-0 flex items-center pr-2 cursor-pointer">
          <span  class="p-1 focus:outline-none focus:shadow-outline" (click)="passwordShowHide()">
            <img class="w-6 h-3 opacity-25" src="./assets/icons/show-pass.svg" alt="">
          </span>
        </span>
        <input class="w-full" type="{{passwordHide ? 'password' : 'text'}}" formControlName="password">
      </div>
      <p class="error-msg error" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">please enter password</p>
      <p class="error-msg error" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.minlength">password length should be greater than 5</p>
    <br>



    <button [disabled]="loginForm.invalid" class="primary-btn" (click)="signInClick()">
      Sign in
    </button>

  </form>
</div>


<!--SIGN UP-->
<div class="sign-in-model">
  <div class="flex justify-end">
    <button class="btn-close" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <img style="max-height: 90px;" class="object-scale-down logo rounded-xl" [src]="(creator$ | async)?.profileImageURL">
  <h1 class=""><span>Sig</span>n Up</h1>
  <form  [formGroup]="loginForm" class="sign-in-form">
    <div class="flex justify-self-start">
      <div class="flex-1">
        <span class="text-xl">Profile Picture</span><br>
        <div class="field">
          <button>
            <ng-container *ngIf="!profileImage; else profileImageFileName">
              <div class="ml-2 font-light text-gray-400">Select Profile Picture to Upload</div>
          </ng-container>
          <ng-template #profileImageFileName>
            <div class="ml-2 font-light text-white">{{profileImage.name}}</div>
          </ng-template>
            <img src="../../../../assets/icons/Icon feather-upload.svg" class="p-4" alt="">
          </button>
          <input #profileFile   class="absolute block opacity-0 cursor-pointer pin-r pin-t " type="file" name=""
          accept="image/png, image/gif, image/jpeg" (change)="onSelectProfile($event)"/>
        </div>
      </div>
      <div class="border-4 rounded-md">
        <ng-container *ngIf="!profileImage; else pImage">
          <img class="preview" [src]="((creator$ | async)?.profileImageURL) || ''" alt="">

      </ng-container>
      <ng-template #pImage>
        <img class="preview" src={{profileImageSrc}} alt="">
      </ng-template>

      </div>
    </div>

    <!-- <div class="border-4 rounded-md">
      <ng-container *ngIf="!profileImage; else pImage">
        <img class="preview" [src]="((creator$ | async)?.profileImageURL) || ''" alt="">

    </ng-container>
    <ng-template #pImage>
      <img class="preview" src={{profileImageSrc}} alt="">
    </ng-template>

    </div> -->
    <label for="fname" class="font-normal">First Name</label>
    <input type="fname" formControlName="fname">
    <!-- <p class="error-msg error" *ngIf="loginForm.controls.fname.touched && loginForm.controls.fname.errors?.required">please enter first name</p> -->

    <label for="lname" class="font-normal">Last Name</label>
    <input type="lname" formControlName="lname">

    <label for="email" class="font-normal">Email</label>
      <input type="email" formControlName="email">
      <p class="error-msg error" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">please enter email address</p>
      <p class="error-msg error" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">please enter valid email address</p>

      <label class="font-normal floating-label" for="password">Password</label>

      <div class="relative w-full text-gray-600 focus-within:text-white">
        <span class="absolute inset-y-0 right-0 flex items-center pr-2 cursor-pointer">
          <span  class="p-1 focus:outline-none focus:shadow-outline" (click)="passwordShowHide()">
            <img class="w-6 h-3 opacity-25" src="./assets/icons/show-pass.svg" alt="">
          </span>
        </span>
        <input class="w-full" type="{{passwordHide ? 'password' : 'text'}}" formControlName="password">
      </div>
      <p class="error-msg error" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">please enter password</p>
      <p class="error-msg error" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.minlength">password length should be greater than 5</p>

      <label class="font-normal floating-label" for="password">Confirm Password</label>

      <div class="relative w-full text-gray-600 focus-within:text-white">
        <span class="absolute inset-y-0 right-0 flex items-center pr-2 cursor-pointer">
          <span  class="p-1 focus:outline-none focus:shadow-outline" (click)="passwordShowHide()">
            <img class="w-6 h-3 opacity-25" src="./assets/icons/show-pass.svg" alt="">
          </span>
        </span>
        <input class="w-full" type="{{passwordHide ? 'password' : 'text'}}" formControlName="password">
      </div>
      <p class="error-msg error" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">please enter password</p>
      <p class="error-msg error" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.minlength">password length should be greater than 5</p>
    <br>



    <button [disabled]="loginForm.invalid" class="primary-btn signup" (click)="signInClick()">
      Sign in
    </button>

  </form>
</div>
